<div ui-view="">
    <h2>Intensive Language Preparation Course in Icelandic for Exchange and other international students</h2>
    
    <p>
        The University Centre of the Westfjords, located in the town of Isafjörður in the Westfjords, offers a variety of intensive Icelandic
        language courses, of different duration and levels, ideal for international students coming to Iceland. For further information about
        all the courses please visit the<a href="http://www.uwestfjords.is/icelandic_courses/"> University Centre website</a>
        <a href="http://: http://www.uwestfjords.is/icelandic_courses/">.</a> Below you will find basic information about 
        the courses Icelandic A1- A2 for students, which is recommended for exchange students.
    </p>
    
    <p><span style="font-size:14px;"><strong>Icelandic A1-A2 for exchange and other international students</strong></span></p>
    
    <p>
        The course<a href="http://www.uw.is/icelandic_courses/beginners_a1-a2_nupur/"> Iceland A1-A2</a>,
        offered by The University Centre, is specially designed for exchange students coming to Iceland. 
        The course has been offered at The University Centre since 2008. Exchange students are especially encouraged to apply for this course.
    </p>
    
    <p>
        Students will be accommodated in Núpur which is about 25 min. drive from the town of Ísafjörður. 
        This former boarding school that served the nearby area, but is now run as a guesthouse and venue for other events,
        i.e. language courses.
    </p>
    
    <h3>Duration: August 1-19, 2016.</h3>
    
    <h3>Application deadline: June 30, 2016.</h3>
    
    <p>
        <span style="font-size:14px;"><strong>Prerequisite:</strong></span> Participants must have completed the Bjargir part of the Internet
        course <a href="http://icelandiconline.is/">&nbsp;Icelandic Online </a>1 before the course begins in August
    </p>
    
    <p>
        <span style="font-size:14px;"><strong>For whom:</strong></span> All exchange students coming to Iceland for the 2016-2017&nbsp;semesters.
    </p>
    
    <p>
        <span style="font-size:14px;"><strong>Transport:</strong></span>&nbsp;&nbsp; A chartered bus will be arranged for students from Reykjavík
        to Núpur and Núpur to Reykjavík. Costs is 11.000 ISK each way.<br />
        &nbsp;<a href="http://www.uw.is/icelandic_courses/chartered_bus/">More information on how to get&nbsp;to Núpur</a>.
    </p>
    
    <p>
        <span style="font-size:14px;"><strong>Accommodation fee and course fee</strong></span>:The fee for accommodation and tuition is 1100 EUR.
        This includes teaching, course material, excursions and transport during the course as well as accommodation in a double room, linen, towels,
        lunch on weekdays, coffee/tea, access to kitchen, laundry facilities and shared living rooms.
    </p>
    
    <p>
        <strong><span style="font-size:14px;">Credits</span>:</strong> The University Centre recommends that this course is accredited with 6 ECTS.
    </p>
    
    <p>
        All further information and application form is available on 
        <a href="http://www.uw.is/icelandic_courses/beginners_a1-a2_nupur/">the Icelandic A1-A2 for Students website.</a>
    </p>

</div>