<div ui-view="">
    <h2>In case of emergency, dial 112.</h2>
    
    <p>
        A visit to the doctor costs ISK 1,000 in the daytime and ISK 2,600 from 16:00 (4 pm) for citizens from EU/EEA countries. Other foreigners
        (who have not resided in Iceland for six months) have to pay in full, ISK 6,200 in the daytime and ISK 9,200 after 16:00 (4 pm). 
        When visiting the doctor, you are advised to bring your insurance card, a valid passport and your ID number 
        (kennitala). In order to pay the lower amount, you have to visit your local Health Care Clinic.
    </p>
    
    <p>
        The fees paid for each consultation and other services are set by regulation. EEA nationals presenting their EHIC will be charged the same
        fee as persons insured in Iceland. If these documents are not presented, the full cost of the treatment will be charged according to tariffs.
        For further information, see <a href="http://www.tr.is" target="_blank">the website of the State Social Security Institute</a>.
    </p>
    
    <h2>Reykjavík</h2>
    
    <p>
        For further information see the website of the 
        <a href="http://www.heilsugaeslan.is" target="_blank">Health Care Centres in Reykjavík</a>
        or ask the international office at your home university for advice. The Health Centers are open from Monday to Friday, 08:00 - 16:00. 
        <a href="http://www.heilsugaeslan.is/heilsugaeslustodvar/" target="_blank">List of Health Care Centres in Reykjavík.</a>
    </p>
    
    <p>
        <strong>Heilsugæsla Miðbæjar / Health Care Centre</strong><br />
        Vesturgata 7, 101 Reykjavík. tel. +354 5852600<br />
        You need to book an appointment in advance.&nbsp; The Health Care Centre is open from 08:00 – 16:00 (day shift) and again from 16:00-17:00
        (18:00) (night shift).
    </p>
    
    <p>
        <strong>Læknavaktin (night shift)</strong><br />Smáratorg, Kópavogur, tel. 1770<br />
        This service is intended for those seeking urgent, general medical service during “off-hours”.&nbsp; The shift is open on weekdays from
        17:00 -&nbsp; 23:30, and on weekends from 08:00 – 23:30.&nbsp; You do not need to book an appointment, and it is also possible to seek 
        medical advice by phone, tel. 1770.
    </p>
    
    <p>
        <strong>Landspítali Háskólasjúkrahús / University Hospital</strong><br />Fossvogur. Tel. +354 543 1000 / Emergency Room, 
        tel. +354 543 2000<br />The emergency service in Fossvogur is open 24 hours a day and is intended for general, urgent medical care
        in regard to accidents or severe health problems.&nbsp; The cost for this health service is ISK 4500 (x-rays and blood samples not included)
        .&nbsp; You do not make an appointment.
    </p>
    
    <p>
        <strong>In case of emergency help for psychiatric matters:</strong><br />Landspítali – University Hospital in Hringbraut, tel. +354 543 4050
    </p>
    
    <p>
        <strong>In case of sexual assault:</strong><br />Landspítali – University Hospital, Fossvogur, tel. +354 543 2019
    </p>
    
    <h2>Outside of Reykjavik</h2>
    
    <h2>Akureyri:</h2>
    
    <p>
        The Akureyri Primary Health Care Centre, Hafnarstræti 99, 3rd to 6th floor, tel. +354 460 4600 The Health Care Centre is open from 
        08:00 - 16:00 on weekdays.
    </p>
    
    <p>For after-hours emergencies please go to the accident ward at FSA University Hospital, Eyrarlandsvegi, tel. +354 463 0800.</p>
    
    <h2>Borgarfjörður (Bifröst/Hvanneyri):</h2>
    
    <p>Health Care Centre Borgarnesi, Borgarbraut 65, tel. +354 437 1400. Open from 08:00 - 16:00</p>
    
    <h2>Ísafjörður:</h2>
    
    <p>Ísafjörður Hospital Health Care Centre, Torfnesi, tel. +354 450 4500. Open from 08:00 - 16:00</p>
    
    <p><strong>Keflavík:</strong></p>
    
    <p>Health Care Centre Suðurnesja, Skólavegi 6, Keflavík, tel. +354 422 0500. Open from 08:00 - 16:00</p>
    
    <p>For further information please contact the international office at your university.</p>
    
    <h2>Influenza A(H1N1)</h2>
    
    <p>Phone 1770 if you think you have influenza symptoms.</p>
    
    <h2>Hospital treatment</h2>
    
    <p>Only doctors can admit patients to hospitals. In emergencies, patients may be admitted immediately to the hospital.</p>
    
    <h2>Pharmacies and prescriptions</h2>
    
    <p>
        Please note that you need to have a prescription from a doctor for some medicines. Please contact your local pharmacy for information
        (search for apótek).
    </p>

</div>