<div ui-view="">
    <p>
        Applicants for a residence permit coming from <strong>Central</strong> and <strong>South America</strong>, including Mexico,
        <strong>non-EEA European</strong> countries, <strong>Asia</strong> or <strong>Africa</strong> must undergo a medical examination
        for infectious diseases. If the applicant, in the opinion of a physician, has a valid medical certificate from abroad, which has been
        issued less than three months before, the applicant concerned does not have to undergo a medical examination. Those coming from the EEA
        (other than Romania and Bulgaria), Australia, New Zealand, Switzerland, the USA and Canada do not have to submit such a medical certificate.
        For more information please see the Directorate of Health's website: <a href="http://www.landlaeknir.is" target="_blank">www.landlaeknir.is</a>
    </p>
    
    <p>
        The medical examination for a residence permit is expensive. The costs of these medical tests varies, depending on where you are from
        (around ISK 20,000-30,000).
    </p>
    
    <p>
        <a href="http://www.landlaeknir.is/utgefid-efni/skjal/item16505/Procedures_for_the_Medical_Examination_of_Immigrants_to_Iceland" 
        target="_blank">The medical examination procedure</a>. 
        (See the pdf document "Procedures for the Medical Examination of Immigrants to Iceland")
    </p>
    
    <h2>Reykjavík</h2>
    
    <p>
        Students needing a medical examination should visit the 
        <a href="http://www.heilsugaeslan.is/onnur-thjonusta/gongudeild-sottvarna/" target="_blank">Division of Communicable Disease Control</a>,
        at Álfabakki 16, 109 Reykjavík. The results of these tests are sent directly to the Immigration Office. You need to make an appointment by
        calling: +354 585 1390. For further information see the 
        <a href="http://www.heilsugaeslan.is/?pageid=7878bcc1-78d7-46d8-b489-35350bf3486f" target="_blank">website of the Health Care Centres in
        Iceland</a> or ask the international office at your university for advice.
    </p>
    
    <h2>Outside of Reykjavík</h2>
    
    <p>
        Those not living in the Reykjavík area may turn to their local health clinic for this examination. Please contact the international office
        at your university for information.
    </p>

</div>