#travelinIcelandNav{
    background-color: #e93a58;
    margin-top: -22px;
}

#travelinIcelandNavContainer a{
    color: white !important;
}

#travelinIcelandNavContainer{
    margin-top: -22px;    
}