<div ui-view="">
<h2 onload="scrollTo()">Masters</h2>

<h3> University of Iceland </h3>
<p><a href="http://english.hi.is/university/graduate_studies">University of Iceland</a></p>

<h3>Bifröst University College</h3>
<p><a href="http://www.bifrost.is/english/academics/exchange-program-courses-in-english">Bifröst University College</a></p>


<h3>Reykjavík University</h3>
<p><a href="http://en.ru.is/studies/graduate/">Reykjavík University</a></p>


<div id="Education">
    <h2>Education</h2>
    <h3> University of Iceland </h3>
    <ul>
        <li>
            <a href="http://english.hi.is/school_of_education_departments/faculty_of_educational_studies/main_menu/home" target="_blank">
                International Studies in Education</a>&nbsp;(MA taught every other year 2016-2017)
	    </li>
	</ul>
</div>


<div id="Sciences">
    <h2>Sciences</h2>
    <h3> University of Iceland </h3>
    <ul>
        <li><a href="/sens/faculty_of_industrial_mechanical_engineering_and_computer_science/aqfood_aquatic_food">Aquatic Food Production -Safety and Quality (Nordic Master)</a></li>
        <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090345&amp;kennsluar=current&amp;lang=en" target="_blank">Biochemistry</a>, MS</li>
        <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090515&amp;kennsluar=current&amp;lang=en" style="font-size: 12.727272033691406px;" target="_blank">Biology</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090315&amp;kennsluar=current&amp;lang=en" target="_blank">Chemistry</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090635&amp;kennsluar=current&amp;lang=en" target="_blank">Geography</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090615&amp;kennsluar=current&amp;lang=en" target="_blank">Geology</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090235&amp;kennsluar=current&amp;lang=en" target="_blank">Geophysics</a>, MS</li>
	</ul>
	
    <h3>Reykjavík University</h3>
    <h4>Biomedical Engineering</h4>
    <ul>
        <li><a href="/sse/biomedical/msc/">MSc Biomedical Engineering</a> <br> 120 ECTS, language of instruction, English</li>
    </ul>
    
    <h4>Sports Science</h4>
    <ul>
        <li>
            <a href="/sse/sports-science/msc-in-exercise-science-and-coaching/">MSc Exercise Science and Coaching</a> <br> 
            120 ECTS, language of instruction, Icelandic
        </li>
        
        <li>
            <a href="/sse/sports-science/med-sport-and-health-education/">MEd Sport and Health Education</a> <br> 120 ECTS,
            language of instruction, Icelandic
        </li>
    </ul>

</div>

<div id="Engineering">
    <h2>Engineering</h2>
    <h3> University of Iceland </h3>
    <ul>
        <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=820150_20146&amp;kennsluar=2014&amp;lang=en" target="_blank">Bioengineering</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=820149_20146&amp;kennsluar=2014&amp;lang=en" target="_blank">Bioinformatics</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080115_20136">Civil Engineering</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080755&amp;kennsluar=current&amp;lang=en" target="_blank">Computational Engineering</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080705&amp;kennsluar=current&amp;lang=en" target="_blank">Computer Science</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080305&amp;kennsluar=current&amp;lang=en" target="_blank">Electrical and Computer Engineering</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080135_20136" target="_blank">Environmental Engineering</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080225&amp;kennsluar=current&amp;lang=en" style="font-size: 12.7273px;" target="_blank">Industrial Engineering</a>, MS</li>
	    <li><a href="https://www.ntnu.edu/studies/msisee" target="_blank">Innovative and Sustainable Energy Engineering (Nordic Master)</a></li>
	    <li><a href="http://www.uib.no/studyprogramme/JMAMN-MCLI" target="_blank">Marine Ecosystems and Climate (Nordic Master) </a></li>
	    <li><a href="http://english.hi.is/marine_science" target="_blank">Marine Science and Fisheries</a>&nbsp;, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090115&amp;kennsluar=current&amp;lang=en" target="_blank">Mathematics</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080215&amp;kennsluar=current&amp;lang=en" target="_blank">Mechanical Engineering</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090215&amp;kennsluar=current&amp;lang=en" target="_blank">Physics</a>, MS</li>
	    <li><a href="/sens/school_of_engineering_and_sciences/graduate_studies_renewable_energy">Renewable Energy</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090645&amp;kennsluar=current&amp;lang=en" target="_blank">Tourism Studies</a>, MS</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=080725&amp;kennsluar=current&amp;lang=en" target="_blank">Software Engineering</a>, MS</li>
	 </ul>
	 
	<h3>Reykjavík University</h3>
    <h4>Civil Engineering</h4>
    <ul>
        <li>
            <a href="/sse/engineering/msc-in-civil-engineering/concrete-technology">MSc Civil Engineering - Concrete Technology</a> <br>120 ECTS, 
            language of instruction, English
        </li>
        
        <li>
            <a href="/sse/engineering/msc-in-civil-engineering/structural-design/">MSc Civil Engineering - Structural&nbsp;Design</a> 
            <br> 120 ECTS, language of instruction, English
        </li>
    </ul>
    
    <h4>Financial &amp;&nbsp;Management&nbsp;Engineering&nbsp;</h4>
    
    <ul>
        <li>
            <p>
                <a href="/sse/engineering/msc-in-engineering-management/">MSc Engineering Management</a> <br> 120 ECTS, language of instruction,
                English
            </p>
        </li>
        
        <li>
            <p><a href="/sse/engineering/msc-in-financial-engineering/">MSc Financial Engineering</a> <br> 120 ECTS, language of instruction, English</p>
        </li>
    </ul>
    
    <h4>Mechanical and Electrical Engineering</h4>
    
    <ul>
        <li><a href="/sse/engineering/msc-electrical-engineering/">MSc Electrical Engineering</a> <br> 120 ECTS, language of instruction, English</li>
        <li><a href="/sse/engineering/msc-in-mechanical-engineering/">MSc Mechanical Engineering</a> <br> 120 ECTS, language of instruction, English</li>
    </ul>
    
    <h4>Project Management</h4>
    
    <ul>
        <li><a href="/mpm/">MPM - Master of Project Management</a></li>
    </ul>
    
    <h4>Iceland School of Energy</h4>
    
    <ul>
        <li><a href="/ise/programmes/sustainable/">MSc Sustainable Energy</a> <br> 120 ECTS, language of instruction, English</li>
        <li><a href="/ise/programmes/engineering">MSc Sustainable Energy Engineering</a> <br> 120 ECTS, language of instruction, English</li>
        <li><a href="/ise/summerschool/">Summer School</a></li>
    </ul>
</div>


<div id="HealthSciences">
    <h2>Health Sciences</h2>
    <ul>
        <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=090815_20126&amp;kennsluar=current&amp;lang=en" target="_blank">MS in Food Science</a>&nbsp;- Always taught in English</li>
    </ul>
</div>

<div id="Humanities">
    <h2>Humanities</h2>
    <h3> University of Iceland </h3>
    <ul>
        <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=820130_20156&amp;kennsluar=current&amp;lang=en" target="_blank">Applied Inter American Studies</a>, MA -&nbsp;Always taught in English, French and/or Spanish.</li>
        <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=820129_20156&amp;kennsluar=2015" target="_blank">Inter American Studies</a>, MA -&nbsp;Always taught in English, French and/or Spanish.<br />
		<li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=820103_20156&amp;kennsluar=current&amp;lang=en">Literature, Culture and Media</a> MA -&nbsp;</li>
	    <li><a href="/school_of_humanities/faculty_of_icelandic_and_comparative_cultural_studies/medieval_icelandic">Medieval Icelandic Studies</a>&nbsp;- MA - Always taught in English</li>
	    <li><a href="/viking_and_norse_medieval_studies/viking_and_medieval_norse_studies">Viking and Medieval Norse Studies</a>, MA&nbsp;- Always taught in English</li>
	</ul>
</div>

<div id="SocialSciences">
    <h2>Social Sciences</h2>
    <h3> University of Iceland </h3>
    <ul>
        <li><a href="http://english.hi.is/school_of_social_sciences/faculty_of_law/llm_natural_resources_and_international_environmental_law">LLM in Natural Resources Law and International Environmental Law</a>&nbsp;- Always taught in English&nbsp;</li>
	    <li><a href="http://english.hi.is/school_of_social_sciences/faculty_of_political_science/small_state_studies">Postgraduate Diploma in Small State Studies, Small States in Europe</a>&nbsp;- Always taught in English</li>
	    <li><a href="https://ugla.hi.is/kennsluskra/index.php?tab=skoli&amp;chapter=content&amp;id=24507&amp;version=current&amp;lang=en">Old Nordic Religion, MA</a>&nbsp;- Always taught in English</li>
	    <li><a href="http://westnordicstudies.net/" target="_blank">West Nordic Studies, Governance and Sustainable Management</a></li>
	</ul>
</div>

<div id="InterdisciplinaryStudies">
    <h2>Interdisciplinary Graduate Studies</h2>
    <h3> University of Iceland </h3>
    <ul style="font-size: 12.727272033691406px; line-height: 20px;">
        <li style="font-size: 12.727272033691406px;">
            <a href="http://english.hi.is/environment_and_natural_resource/environment_and_natural_resources_studies" style="font-size: 12.727272033691406px;">MA/MS in Environmental and Natural Resources</a>&nbsp;- Always taught in English&nbsp;<br />
            &nbsp;</li>
    </ul>
</div>


<div id ="Business">
    <h2>Business</h2>
    <h3>Reykjavík University</h3>
    <ul>
        <li>
            <p>
                <a href="/rusb/msc/msc-international-business-and-marketing/">International Business and Marketing</a>
                <br> 120 ECTS, language of instruction, English (MSc/MIBM)
            </p>
        </li>
        
        <li>
            <p><a href="/rusb/msc/marketing/">Marketing</a> <br> 90/120 ECTS, language of instruction, English (MSc)</p>
        </li>
        
        <li>
            <p>
                <a href="/rusb/msc/human-resource-and-work-psychology-/">Human Resource Management and Organizational Psychology
                </a> <br> 90/120 ECTS, language of instruction, English (MSc/MHRM)
            </p>
        </li>
        
        <li>
            <a href="/rusb/msc/business-administration-with-elective/">Business Administration</a> <br> 120 ECTS, language of instruction, 
            English (MSc)&nbsp;
        </li>
        
        <li>
            <p><a href="/mba/">MBA</a> <br> 90 ECTS, language of instruction, English</p>
        </li>
    </ul>
    
    <ul>
        <li><a href="/fin/programme-overview/corporate-finance/">MCF of Corporate Finance</a> <br> 90 ECTS, language of instruction, English</li>
        
        <li><a href="/fin/programme-overview/corporate-finance/">MSc Corporate&nbsp;Finance</a> <br> 120 ECTS, language of instruction, English</li>
        
        <li>
            <a href="/rusb/msc/mabi-management-accounting-and-auditing--business-intelligence-/">MABI Management Accounting and Auditing/ 
            Business Intelligence</a> <br> 120 ECTS, language of instruction, Icelandic
        </li>
        
        <li>
            <a href="/rusb/msc/macc-in-accounting-and-auditing-/">MACC Financial Accounting and Auditing</a> <br> 120 ECTS, language of instruction,
            Icelandic
        </li>
        
        <li><a href="/scs/mim">Information Management</a> <br> 120 ECTS, language of instruction, Icelandic (MIM)</li>
        
        <li><a href="/rusb/msc/msc-psychology/">Clinical Psychology</a> <br> 120 ECTS, language of instruction, Icelandic (MSc)</li>
    </ul>
</div>

<div id="ComputerScience">
    <h2>Computer Science</h2>
    <h3>Reykjavík University</h3>
    
    <ul>
        <li><a href="/scs/graduate/programmes/cs/" class="internal">MSc Computer Science</a> <br> 120 ECTS, language of instruction, English</li>
    </ul>
    
    <ul>
        <li>
            <a href="/scs/graduate/programmes/language-technology-msc/" class="internal">MSc Language Technology</a> <br> 120 ECTS, language
            of instruction, English
        </li>
    </ul>
    
    <ul>
        <li>
            <a title="MSc in Software Engineering School of Computer Science Reykjavik University" 
            href="/scs/graduate/programmes/software-engineering/">MSc Software Engineering</a> <br> 120 ECTS, language of instruction, English
        </li>
    </ul>
</div>

<div id="Law">
    <h2>Law</h2>
    <h3>Reykjavík University</h3>
    <ul>
        <li><a href="/law/masters-programme-ml/">Masters in Law</a></li>
    </ul>
    
    <h3>University of Akureyri</h3>
    
    <ul>
        <li>
            <a href="http://english.unak.is/students/degree-seeking-students">Polar Law</a>
        </li>
    </ul>
</div>

<div id="Arts">
    <h2>Arts</h2>
    <h3>Iceland Academy of the Arts</h3>
    
    <ul>
        <li>
            <a href="http://english.lhi.is/programmes/ma-programmes/ma-design/">MA in Design</a>, Iceland Academy of the Arts<br />
            <a href="http://lhi.is/english/programmes/ma-programmes/ma-fine-art/">MA in Fine Art</a>, Iceland Academy of the Arts<br />
            <a href="http://english.lhi.is/programmes/ma-programmes/ma-composition">MA in Composition</a>, Iceland Academy of the Arts
        </li>
    </ul>
</div>



</div>

