<div ui-view="">
    <p>
        Citizens of the European Union and the European Economic Area planning to stay longer than three months in Iceland,
        need a residence permit. The permit may be obtained after arriving in Iceland from most of the EU and EEA countries. 
        EU and EEA citizens do not need a special work permit, only a residence permit. 
        <a href="http://utl.is/index.php?option=com_content&amp;view=article&amp;id=82&amp;Itemid=84&amp;lang=en" target="_blank">
            A list of EEA countries at www.utl.is</a>.
    </p>
    
    <p>
        <a href="http://utl.is/index.php/en/residence-permits" target="_blank">More information about residence permits for citizens of EEA
        member countries.</a>
    </p>
    
    <p>
        If you have any inquiries about the application process, please contact the 
        <a href="http://utl.is/index.php?option=com_contact&amp;view=contact&amp;id=1&amp;Itemid=184&amp;lang=en" target="_blank">
            Directorate of Immigration</a>.
    </p>
    
    <h2>Nordic citizens</h2>
    
    <p>
        Citizens from Nordic countries planning to study in Iceland<strong> 
        </strong>must register at the <a href="http://www.skra.is/" target="_blank">Registers Iceland 
        (<em>Þjóðskrá Íslands</em>)</a>, Borgartún 21, 105 Reykjavík, tel. +354 515 5300, upon arrival in Iceland.
    </p>
    
    <p>Nordic citizens do not need residence or work permits.</p>
    
    <h2>Upon arrival in Iceland all students must:</h2>
    
    <ul>
        <li>
            <strong>apply for a</strong> <em><strong>kennitala</strong></em>, an Icelandic ID number/social security number.
            This ID number is necessary for various practical matters such as opening a bank account, getting a tax card, etc.
        </li>
        <li><strong>register their domicile in Iceland</strong></li>
        <li>
            <strong>remember to bring their passport</strong>, <strong>residence permit</strong> (if applicable) and the 
            <strong>acceptance letter from their university</strong> in Iceland when visiting <a href="/id/477">the municipal office</a>
        </li>
    </ul>

</div>