<div ui-view="">
    <h2>Reykjav&iacute;k</h2>
    
    <ul>
        <li>
            <a href="http://www3.fmr.is/" target="_blank"><strong>Registers Iceland 
            (<em>&THORN;j&oacute;&eth;skr&aacute; &Iacute;slands</em>)</strong></a><br />
            Borgart&uacute;n 21<br />
            105 Reykjav&iacute;k<br />
            Tel.: +354 515 5300
        </li>
    </ul>
    
    <h2>Akureyri</h2>
    
    <ul>
        <li>
            <strong>Offices of Akureyri Municipality (<em>Manntal</em>)</strong><br />
            Geislagata 9<br />
            600 Akureyri<br />
            Tel.: +354 460 1000
        </li>
    </ul>
    
    <h2>&Iacute;safj&ouml;r&eth;ur</h2>
    
    <ul>
        <li>
            <strong>&Iacute;safj&ouml;r&eth;ur Municipality Office</strong><br />
            Hafnarstr&aelig;ti 1<br />
            400 &Iacute;safj&ouml;r&eth;ur<br />
            Tel.: +354 450 8000
        </li>
    </ul>

</div>