<div ui-view="">
    <p>
        Citizens of countries outside the EU and EEA must obtain a visa before entering Iceland. If the applicant arrives in Iceland before
        the visa has been issued, he must leave the country while the application is being processed.&nbsp;
    </p>
    
    <p>
        Applicants intending to stay in the country as students must obtain a student visa to stay in the country. A student visa is granted
        to those planning to study full-time in Iceland. Full-time studies are 100% studies at university level, vocational training or other
        studies requiring an educational background equivalent to university admission requirements. Full-time studies at a university are 30 
        ECTS units per term.
    </p>
    
    <p>
        When applying to extend a student permit, the applicant must supply documentation from the applicable school showing his/her satisfactory
        progress in studies the previous semester.
    </p>
    
    <h2>Application process</h2>
    
    <p>
        The estimated application processing time for a residence permit is 90 days from the date the Directorate of Immigration received sufficient
        documentation. When applying for a residence permit, please <strong>read the instructions very carefully</strong>. If documents are missing,
        the application processing time will take much longer.&nbsp;
    </p>
    
    <p>
        For further information about the application process, please see the 
        <a href="http://utl.is/index.php?option=com_content&amp;view=article&amp;id=115&amp;Itemid=127&amp;lang=en">
            Icelandic Directorate of Immigration website. </a>
    </p>
    
    <h2>D-Visa</h2>
    
    <p>
        Once an application for a residence permit is approved, an applicant who needs to obtain a D-Visa prior to his/her arrival must contact
        the closest embassy issuing such visas on behalf of Iceland. An application must state in which embassy the applicant intends to pick-up
        the D-visa.&nbsp; <span>
            <a href="http://utl.is/index.php/en/where-you-can-apply-for-a-visa" target="_blank"><strong>List of embassies</strong></a>.</span>
    </p>
    
    <h2>Upon arriving in Iceland</h2>
    
    <p>If a residence permit is granted, upon arrival the applicants shall:</p>
    
    <ul>
        <li>
            <strong>register their domicile</strong> with the <a href="http://www.skra.is" target="_blank">Registers Iceland
            (<em>Þjóðskrá Íslands</em>)</a>, Borgartún 21, 105 Reykjavík, tel. +354 515 5300. All citizens should bring a passport which is
            valid at least three months after the scheduled departure.
        </li>
        
        <li>
            <strong>get a <a href="/id/483">health check</a> within the first two weeks of their stay in Iceland</strong>.
            In some cases a medical certificate from abroad is sufficient. <a href="http://www.landlaeknir.is/english/" target="_blank">
                Go to the website of the Directorate of Health for more information about the health check.</a><br />
            <strong>Students in Akureyri:</strong> You need to undergo a medical examination at the Akureyri Health Centre (tel.: +354 460-4600)
            located downtown (Hafnarstræti 99).<br />
            <strong>Students in Reykjavik: </strong>Medical examinations are done at the Health Centre at Álfabakki 16, 109 Reykjavík. 
            For more information go to <a href="http://www.heilsugaeslan.is" target="_blank">www.heilsugaeslan.is</a>.
        </li>
        
        <li>
            <strong>go to the Directorate of Immigration or to the District Magistrate/Police Authorities</strong> in the area where the
            applicant resides, with their passport or travel documents and have their photo taken.
        </li>
    </ul>
    
    <p>Once those steps have been completed,&nbsp; the permit is issued and sent to the applicant's address in Iceland.</p>

</div>