<div ui-view="">
    <h2>Exchange students</h2>
    
    <p>
        The international office at your host university assists students in finding housing. Please contact the international
        coordinator for incoming exchange students.
    </p>
    
    <h2>Other students and staff</h2>
    
    <p>
        For accommodation during your first days in Iceland, a guesthouse or youth hostel is a good short-term solution while you 
        are searching for permanent accommodation. Please go to <a href="http://www.gisting.is" target="_blank">www.gisting.is</a> 
        or <a href="http://www.visitreykjavik.is" target="_blank">www.visitreykjavik.is</a> for a list of hotels and guesthouses in Iceland.
    </p>
    
    <p>
        A rental sevices :<a href="http://leigulistinn.is/"> Leigulistinn</a>&nbsp;and&nbsp;<a href="http://www.tilleigu.is/">Tilleigu.is
        </a>&nbsp;offer services in finding housing for rent.
    </p>
    
    <p>
        The rental market in Iceland can be quite limited, because most housing is privately owned. Therefore, you should try to search 
        for accommodation as soon as possible. Here are some ideas on how you can proceed:
    </p>
    
    <h2>Reykjavík and Suðurnes:</h2>
    
    <ul>
        <li>
            <a href="http://www.leigulistinn.is" target="_blank"><strong>The Rental Agency</strong></a> 
            (IS Leigulistinn) provides customers with a current list of available housing in exchange for a monthly fee. Tel, +354 511 1600.
        </li>
        <li>
            <a href="http://www.studentamidlun.is" target="_blank"><strong>The Student Rental Agency</strong></a> 
            (IS Húsnæðismiðlun Stúdenta) provides a list of available housing for university students. The service is free of charge.
        </li>
        <li>
            <a href="http://umsokn.keilir.net/Rent-system"><strong>Keilir campus</strong></a> (near Keflavik Airport). 
            Keilir is situated about 50 km, 45 minutes drive from Reykjavík centre, there are bus connections.
        </li>
        
        <li>
            <a href="http://www.studentagardar.is/">Student housing</a> at the University of Iceland&nbsp; 
            (Félagsstofnun stúdenta is the student housing office for students at The University of Iceland, 
            student housing at UI dorms is very limited)
        </li>
    </ul>
    
    <h2>Outside Reykjavik:</h2>
    
    <ul>
        <li>
            <a href="http://www.festaha.is/is/english"><strong>Student Housing at the University of Akureyri</strong> 
            </a>(IS Félagsstofnun stúdenta á Akureyri).
        </li>
        
        <li>
            <a href="http://www.hsvest.is/masters_program/accommodation/" target="_blank"><strong>Accommodation at the University 
            Centre at the Westfjords</strong></a>.
        </li>
        
        <li>
            <a href="http://bifrost.is/english/student-services/housing/housing-applications/"><strong>Accommodation at 
            Bifröst University</strong>.</a>
        </li>
    </ul>
    
    <p>
        Newspapers (and their websites) publish adverts from homeowners looking for tenants. You can also put your own advert in the 
        paper, specifying the number of rooms required, which area you would prefer, contact details etc.&nbsp;
    </p>
    
    <p>
        <a href="http://www.mbl.is/leiga/" target="_blank">Mbl</a>&nbsp; <a href="http://fasteignir.visir.is/#rent" 
        target="_blank">Vísir</a>
    </p>
    
    <p>
        When you have found an apartment, you will be asked to sign a lease, which is then registered at the district commissioner‘s office.
        This lease is necessary when applying for a rent subsidy. It is extremely important that you are aware of what you are signing. 
        Intercultural Centre has <a href="http://new.ahus.is/?page_id=217&amp;lang=en" target="_blank">a more detailed discussion</a> 
        of this on their website, which we recommend you read.
    </p>
    
    <p>
        <a href="http://utl.is/files/Ymislegt/husnadivottord-ensk.pdf"><strong>Housing Certificate.</strong><strong><sup>&nbsp; </sup></strong>
        </a>Students coming from countires outside the EEA&nbsp; to Iceland applying for a resident permit,&nbsp; must prove that he/she has secure
        housing for the period of time applied for. <u>Students must submit a housing certificate within two weeks of arriving in Iceland.</u> The 
        certificate must be signed by the homeowner(s) and witnessed by two adults.
    </p>

</div>