<div ui-view="">
    <h2>Getting to Iceland:</h2>
    
    <p>
        Two Icelandic airlines fly to Iceland: <a href="http://www.icelandair.com" target="_blank">Icelandair</a> and
        <a href="http://wow.is">Wow</a><a href="http://wow.is">.</a>
    </p>
    
    <p>
        In addiditon there are a number of airlines that regularly fly to Iceland. Their numbers are greater during spring and summer.
    </p>
    
    <p>
        To find the cheapes flights sites like <a href="http://www.dohop.com">duhop</a> can prove to be useful.
    </p>
    
    <p>
        A valid passport is necessary for anyone entering Iceland.
    </p>
    
    <p>
        It is recommended that you arrive in Iceland a few days before your semester starts.
    </p>
    
    <h2>Keflavik Airport and the flybus/taxi to Reykjavík</h2>
    
    <p>
        The international airport is located in Keflavík, a 45-minute drive from Reykjavík. 
        <a href="http://www.re.is/Flybus/" target="_blank">Flybus</a> runs in connection with flights to the Bus Terminal,
        BSÍ, from there you can take a <a href="http://www.straeto.is" target="_blank">bus</a> or a taxi to your destination.
        <a href="http://www.kefairport.is/English/Transportation/Buses/"> Airport express</a> buses are run by schedule from 
        airport to end station is at Lækjartorg in Reykjavik center or to hotels
    </p>
    
    <p>
        You can pay for the flybus with foreign currency, a credit card or Icelandic currency. For taxi and bus fees, plan on having 
        Icelandic currency or a credit card with you. You can exchange money at the airport, but you will get better rates in town.
    </p>
    
    <h2>Akureyri and Ísafjörður</h2>
    
    <p>
        You can get to Akureyri and Ísafjörður either by the domestic airline&nbsp;
        <a href="http://www.flugfelag.is" target="_blank">Air&nbsp;Iceland</a> or
        by bus (please note that travelling by bus to Ísafjörður requires transfers and you cannot travel all days of the week).
        A valid passport is necessary for everyone.
    </p>
    
    <h2>Other locations</h2>
    
    <p>
        You can take a bus. Please contact the international office of your home university for more information.
    </p>
    
    <h2>Links to bus and flight information:</h2>
    
    <ul>
        <li><a href="http://www.flugfelag.is" target="_blank">Air Iceland</a></li>
        <li><a href="http://www.re.is" target="_blank">Reykjavik Excursions (flybus)</a></li>
        <li><a href="http://www.airportexpress.is/Default.aspx">Airport express </a></li>
        <li><a href="http://www.nat.is" target="_blank">Nordic Adventure Travel</a></li>
        <li><a href="http://s.is/journeyplanner/enterJourneyPlan.do;jsessionid=AE8B1BD0D4138CBFE725B614D0A1FFD0.icelandD?hss=6Aj3G92153375">Strætó</a>&nbsp;(Public transport)</li>
    </ul>
    
	

	<h2>Upon arrival in Iceland all students must:</h2>
	
	<ul>
	    <li>
	        <strong>apply for a</strong> <strong>kennitala</strong>, an Icelandic ID number/social security number.
	        This ID number is necessary for various practical matters such as opening a bank account, getting a tax card, etc.
	    </li>
	    
	    <li>
	        <strong>register their domicile in Iceland</strong>
	    </li>
	    
	    <li>
	        <strong>remember to bring their passport</strong>, <strong>residence permit</strong> 
	        (if applicable) and the <strong>acceptance letter from their university</strong> in Iceland when visiting&nbsp;
	        <a ui-sref="municipality">the municipal office</a>
	   </li>
    </ul>

    
</div>