<div ui-view="">
    <p>
        The estimated cost of living in Iceland, calculations made by the Icelandic Student Loan Fund, is about ISK 163,000 
        per month for one person as of 2016. You can expect the rent for a single room will be at least ISK 50,000 per month.<br /><br />
        <strong>The following is a rough estimate of expenses for a single person living in Reykjavík in 2016, all in Icelandic Kronas (ISK):
        </strong>
    </p>
    
    <ul>
        <li>Bus fare from Keflavík Airport to Reykjavík: 1.950</li>
        <li>Overnight stay at a hostel: 4.000-12.000+</li>
        <li>Rent for a single room: 60.000 - 90.000 + depending on location</li>
        <li>Access to a swimming pool: 900</li>
        <li>Movie ticket: 1,500</li>
        <li>Theatre: 4.750+</li>
        <li>Daily newspaper: 425</li>
        <li>Public bus ticket: 420</li>
        <li>Bus card valid for a month in Reykjavík: 9.300</li>
        <li>Loaf of bread: 400</li>
        <li>Litre of milk: 150</li>
        <li>Half a litre of beer at a café: 1.000+</li>
        <li>Bottle of wine: 1,600+</li>
        <li>Lunch at a restaurant: 1,800+</li>
        <li>Dinner at a restaurant: 3,500+</li>
        <li>Litre of petrol: 250+</li>
    </ul>
    
    <p><strong>NOTE: the list is subject to change</strong></p>
    
    <p>
        You can also find information about costs in Iceland&nbsp; 
        <a href="http://www.numbeo.com/cost-of-living/city_result.jsp?country=Iceland&amp;city=Reykjavik">here</a>
    </p>

</div>