<h3>Specific information</h3>
<div class="row" id="healthNavRow">
    <ul class="nav navbar-nav" id="healthNav">
        <li>
            <a ui-sref="medical-examination">Medical Examination</a>
        </li>
            
        <li>
            <a ui-sref="health-care">Health care</a>
        </li>
    
    </ul>
</div>

<div ui-view="">
    <h2>European citizens</h2>
    
    <p>
        European students must bring a European Health Insurance Card (EHIC) with them. The EHIC card proves that you are entitled to
        health insurance at home. Insured citizens of EEA countries are entitled to benefits in kind which are necessary on medical grounds
        during a temporary stay in Iceland, taking into account the nature of the benefits and the expected length of the stay. If you have to
        see a doctor, you must present the EHIC and your passport. This is proof that you are entitled to health insurance at
        home. (For further information or if in doubt, see the
        <a href="http://www.sjukra.is/english/students/" target="_blank">website of the Icelandic Health Insurance</a> 
        or call tel.: +354 515 0000).
    </p>
    
    <p>
        <strong>Students from Nordic countries</strong>
	</p>
	
	<p>
	    A confirmation of insurance in another Nordic country is sufficient. For example some kind of card which a competent institution
	    issues in the country of insurance.
	</p>
	
	<h2>Non-EU and -EEA citizens</h2>
	
	<p>
	    Students from non-EU/EEA countries should have health insurance from an insurance company in their country that is licensed to operate
	    in Iceland or buy insurance from an Icelandic insurance company. You will need coverage for the six-month waiting period until you are
	    covered by the Icelandic Social Health Insurance. Below are Icelandic insurance companies from which you can buy health insurance. You must
	    purchase insurance in order to apply for your student visa.
	</p>
	
	<ul>
	    <li>
	        <a href="http://www.sjova.is/english.asp?cat=1318">Sj&oacute;v&aacute;</a>
	    </li>
	    
	    <li>
	        <a href="http://www.tryggingamidstodin.is/english " target="_blank">TM</a>
	    </li>
	    
	    <li>
	        <a href="http://www.vis.is/umvis/english/" target="_blank">V&Iacute;S</a>
	   </li>
	   
	   <li>
	       <a href="http://www.vordur.is/english">V&ouml;r&eth;ur</a>
	   </li>
    </ul>
    
    <h2><br />Social Security / Medical insurance</h2>
    
    <p>
        The Icelandic Social Security system is for Icelandic residents. There is a qualifying period of 6 months&rsquo; residency for
        new residents; the period starts running from the date of registration in the &THORN;j&oacute;&eth;skr&aacute; (the National Registry).
        Once the six-month qualifying period has passed, you will be eligible to receive the Icelandic social health care and will no longer need
        to purchase medical insurance.
    </p>


</div>