<div ui-view="">
    <p>In alphabetical order, (information last updated on 2 July 2012).</p>
    
    <h2><a name="accommodation"></a>Accommodation</h2>
    
    <p><a ui-sref='accommodation'>Accommodation webpage</a>.</p>
    
    <h2><strong><a name="banking_hours"></a>Banking hours</strong></h2>
    
    <p>
        Banking hours in Iceland are weekdays from 09:15 to 16:00. Banks are generally closed on weekends, but in Reykjavík
        there might be a branch or two with extended opening hours. Please note that all banks are closed on 2 January.
    </p>
    
    <h2><a name="banks_and_accounts"></a>Banks and accounts</h2>
    
    <p>
        To open an account, you will need your Icelandic ID number (<em>kennitala</em>) and an ID card/passport. 
        You can pay directly with the debit card for most purchases in shops (a service fee will be applied) and 
        services, and you can withdraw money in banks or at automatic teller machines (ATM’s). Banks also handle 
        foreign exchange transactions. Exchange students generally do not need to open a bank account for their stay in Iceland.
    </p>
    
    <h2><a name="how_to_get_around"></a>Bus</h2>
    
    <p>
        The most economical way to travel around is by bus (<em>strætó</em>). If you use coins, however you must have the exact 
        fare because the driver is not permitted to give change. You can also download the stræo app if you have a smart phone 
        and pay via credit card.&nbsp;For further information about the bus fare and a timetable, see 
        <a href="http://www.straeto.is/english">Strætó wesite</a> (Reykjavik).
    </p>
    
    <h2><strong><a name="business_hours"></a>Business hours</strong></h2>
    
    <p>
        Business hours in Iceland are typically 9:00-17:00 or 10 - 18:00&nbsp;weekdays. There are exceptions to this, especially 
        with official governmental offices, which typically close at 16:00 or even 15:00.
    </p>
    
    <h2><a name="cinema"></a>Cinema</h2>
    
    <p>
        The biggest cinemas are in Reykjavík, Kópavogur, Keflavík, Akureyri and Selfoss. To find show times and buy tickets visit 
        <a href="http://www.midi.is" target="_blank">www.midi.is</a>. You can also&nbsp; buy tickets at the cinemas.
    </p>
    
    <h2><a name="custom_rules"></a>Customs rules in Iceland</h2>
    
    <p>
        You may receive gifts up to ISK 10,000 without paying any customs, as long as it is clearly marked as a present on the green 
        custom's label. Failure to have a green custom's label will delay the process. For presents over this amount the receiver has 
        to pay VAT and customs or send the parcel back.
    </p>
    
    <h2><a name="driving"></a>Driving</h2>
    
    <p>
        The legal driving age in Iceland is seventeen.<br />
        Further information regarding driving licens in Iceland see:&nbsp; <a href="http://www.mcc.is/english/cars/">
        http://www.mcc.is/english/cars/</a>
    </p>
    
    <p>
        The laws on drinking and driving are very strict, and such behaviour is generally not socially acceptable. 
        You have to have you driving licence with you when you are driving.
    </p>
    
    <h2><a name="drugs"></a>Drugs</h2>
    
    <p>
        Drug laws are strict. Foreign citizens in possession of any type of illegal drug may be arrested and expelled from the country.
        Marijuana and hashish are illegal in Iceland.
    </p>
    
    <h2><a name="electricity"></a>Electricity</h2>
    
    <p>220V, frequency 50Hz.</p>
    
    <h2>Food:</h2>
    
    <p>
        Iceland offers a fine variety of meats, fish, vegetables and other varieties of food. For further information please see the 
        <a href="http://bondi.is/Pages/908">Shopper's Guide to Icelandic food </a>
    </p>
    
    <h2><a name="public_holidays"></a>Holidays, Public</h2>
    
    <ul>
        <li>January 1st, New Year's Day</li>
        <li>Maundy/ Holy Thursday</li>
        <li>Good Friday</li>
        <li>Easter Sunday</li>
        <li>Easter Monday</li>
        <li>First day of summer, usually the third Thursday in April</li>
        <li>May 1st, Labour Day</li>
        <li>Ascension Day</li>
        <li>White Sunday (Whitsuntide)</li>
        <li>White Monday</li>
        <li>June 17th, National/ Independence Day</li>
        <li>First Monday in August, Bank Holiday</li>
        <li>December 24th, Christmas Eve (from noon)</li>
        <li>December 25th, Christmas Day</li>
        <li>December 26th, Boxing Day</li>
        <li>December 31st, New Year's Eve (from noon)</li>
    </ul>
    
    <h2><a name="holidays"></a>Holidays and events</h2>
    
    <ul>
        <li>
            <strong>Bóndadagur - Husband's Day</strong> - In the old traditional calendar, dating back to the Vikings, the beginning of the month
            of Þorri (now what we call the end of January) was and still is dedicated to men, but traditions and celebrations vary, and are vague.
            In some places the man of the house received treats; elsewhere it was up to him to treat others. There is even a tradition that the man
            of the house should run a lap around the house in his knickers. The husband's favourite food was also usually served. Nowadays women 
            have started to present their men with flowers on Bóndadagur.
        </li>
        
        <li>
            <strong>Þorrablót </strong> - A month-long festivity, taking places in homes and restaurants in February. Traditional Viking foods 
            are consumed, such as súrmatur, slátur and svið.
        </li>
        
        <li>
            <strong>Konudagur</strong> – Women's Day - The first day of the month of Góa (now end of February), according to the old traditional
            Icelandic calendar, is dedicated to women. The husband is supposed to bring his wife the morning cup of coffee in bed. Flowers have 
            replaced this of late. This is always on the Sunday before Bolludagur.
        </li>
        
        <li>
            <strong>Bolludagur </strong>or "Bun Day" – Homes, restaurants and particular bakeries, overflow with delicately made cream puffs or 
            "buns". In Ísafjörður, children dress up on this day and come around to the homes singing for candy.
        </li>
        
        <li>
            <strong>Sprengidagur</strong> or "Bursting day" – the Tuesday after Bun Day. Every Icelandic home and most restaurants are flooded 
            with the aroma of corned meat and peas. The name Sprengidagur refers to the idea that individuals feast on this hearty dish to the 
            point of bursting
        </li>
        
        <li>
            <strong>Öskudagur </strong>or Ash Wednesday – the Wednesday after Bursting Day. This Wednesday is celebrated in Iceland with a 
            unique custom that is very entertaining for children. Ashes were once put into small bags known as Öskupokar or Ash Bags. As a 
            prank, these bags were secretly pinned to people‘s clothing. Nowdays children roam the streets and shops, singing and begging 
            for treats.
        </li>
        
        <li>
            <strong>Fóður og Fjör</strong> – Food and Fun (March) - A weeklong festival of special promotions at restaurants and bars, bringing
            to light the achievements of chefs and brew masters, as well as manufacturers of Icelandic gourmet products, such as caviar, shrimp,
            lamb and cheese.
        </li>
        
        <li>
            <strong>Trout Fishing Season</strong> (April 1 - September 20) - Anglers from all over the world have long sought out the unusually 
            fresh lakes and rivers of Iceland. Fishing permits may be purchased at short notice for numerous rivers and lakes.
        </li>
        
        <li><strong>Páskar</strong> or Easter – Children and grown-ups are given a treat in the form of chocolate Easter eggs.</li>
        
        <li>
            <strong>First Day of Summer</strong> – The first day of "summer" is celebrated with parades, sporting events and organized
            entertainment, held in various places around Iceland.
        </li>
        
        <li>
            <strong>Sjómannadagur</strong> or Seamen's Day (June) - A holiday dedicated to fishermen, marked by festivities, such as parades,
            rowing and swimming races, tugs of war, and sometimes sea rescue competitions.
        </li>
        
        <li>
            <strong>
                Icelandic Republic Day</strong> (June 17th) – In 1944 Iceland was declared a republic. June 17th was chosen as the official
                holiday because it was the birthday of Jón Sigurðsson, who is regarded as Iceland's leader in the campaign for independence in the 
                19th century. Celebrations are held with parades, street theatres, sideshows and dancing.
        </li>
        
        <li>
            <strong>
                Verslunarmannahelgi</strong> or Labour Day Weekend - During the first weekend in August, Icelanders by the thousands take to
                their cars and head out of town to camp in the wilderness or join in one of the many organized events that are held throughout
                the country. These range from family-style gatherings to outdoor rock festivals.
        </li>
        
        <li>
            <strong>Menningarnótt</strong> - Reykjavík Cultural Night (August) – On this enchanted evening museums, galleries, churches, cafes,
            restaurants, stores and other establishments in downtown Reykjavik stay open into the night and present a variety of shows, concerts,
            performances, theatre and other cultural events. Selections of food and drink are served, and the evening is concluded with a firework
            display at the harbour area Miðbakki.
        </li>
        
        <li>
            <strong>Reykjavík Marathon</strong> (August) – This international/annual event involves thousands from Iceland and abroad, running the
            Marathon proper, half marathon, 10 km and fun run (3km)
        </li>
        
        <li>
            <strong>Iceland Airwaves</strong> - A music festival usually held in October. Icelandic bands and musicians play at the festival as well
            as variety of foreign bands.
        </li>
        
        <li>
            <strong>Fullveldisdagurinn</strong> – Self-governance Day (December 1st) – Although not a public holiday, many Icelander celebrate this
            as Independence Day, particularly Icelanders abroad. Iceland became a sovereign state under the Danish Crown on 1 December 1918
        </li>
        
        <li>
            <strong>Christmas</strong> – Iceland is full of old traditions concerning the Christmas period, and some of them are native to Iceland.
            For example, there are no fewer than 13 Icelandic Santa Clauses, called jólasveinar ("Yuletide Lads"; singular: jólasveinn). Their parents
            are Grýla, a mean old woman who drags off naughty children, and Leppalúði, a fool. The origin of the Icelandic jólasveinar is centuries
            old. Each has his own name, character and role. Today their function is to come to town bearing gifts, candy, and do what they are best
            known for - pranks. The first jólasveinn arrives 13 days before Christmas, and then the others follow, one each day. After Christmas,
            they also leave one by one. Beginning on December 12th and lasting until Christmas, children put their best shoe in the window before
            going to sleep, and if they have been good, a jólasveinn leaves them a gift in their shoe. If they have been bad, they only get a potato.
            <strong>Þorláksmessa</strong> (the Mass Day of St. Þorlákur) is celebrated on 23 December. Shops are open until 23:00 and then close for
            three days during Christmas. The main holiday is on the <strong>24 December</strong>, starting from six in the evening. Then Icelanders
            eat a holiday meal and exchange gifts. The feast then continues for two days. Another Christmas tradition in Iceland is that people and
            communities make up for the short days and long nights by lighting up the community with thousands of Christmas lights. Usually every
            house and apartment is decorated with some sort of Christmas lights. <strong>New Year's Eve</strong> is always a special celebration in
            Iceland as thousands of people attend community bonfires and exchange visits. At midnight the sky lights up with fireworks when almost
            every home in Iceland will produce its own fireworks show.
        </li>
    </ul>
    
    <h2>&nbsp;</h2>
    
    <p>&nbsp;</p>
    
    <h2><a name="icelandic"></a>Icelandic</h2>
    
    <p><a ui-sref='learn-icelandic'>Learning Icelandic</a> and <a ui-sref='survival-vocabulary'>Survival Vocabulary</a>.</p>
    
    <h2><strong><a name="liquor_store"></a>Liquor store</strong></h2>
    
    <p>
        Wine, liquor, and beer can only be bought at state liquor shops called Vínbúðin, more commonly known as Ríkið (the state).
        Alcohol is significantly more expensive in Iceland than in other countries. The opening hours of Vínbúðin are quite strict and they
        are never open on Sundays.
    </p>
    
    <h2><a name="map"></a>Map</h2>
    
    <p>
        You can search for locations in the <a href="http://en.ja.is/hradleit/" target="_blank">online telephone directory</a>. 
        You can search for persons, companies and locations.
    </p>
    
    <h2><a name="money_and_credit_cards"></a>Money and Credit Cards</h2>
    
    <p>
        The Icelandic monetary unit is the Icelandic króna (ISK). The denominations of the coins used are 1, 5, 10, 50, and 100 krónur.
        The denominations of the notes used are 500, 1000, 2000, 5000 and 10.000 krónur.
    </p>
    
    <p>
        Most major credit cards are widely used and accepted in Iceland. The major credit cards in Iceland are VISA and Eurocard/Mastercard.
        Other credit cards are usually accepted, but are less known.
    </p>
    
    <p>
        There is a bank in the airport terminal for immediate access to Icelandic currency. It is open whenever flights are due to arrive.
        It is possible to convert bank notes, cash travellers' checks, and get a cash advance from a debit or credit card. Credit and debit
        cards are widely used and accepted in Iceland. It is strongly recommended that students carry one to be able to meet any unforeseen
        expenses during their stay. Just make sure that it will be valid during the entire length of your stay.
    </p>
    
    <p>
        You can check the rate of the ISK at <a href="http://www.sedlabanki.is/?PageID=183" target="_blank">www.sedlabanki.is</a>. All banks will
        exchange the most common currencies. It is a good idea to change your currency, as there are very few shops in Iceland that accept foreign
        currency. However, most shops and businesses, and even taxis, accept all major credit cards. Credit and debit cards are commonly used in 
        Iceland, even for very small transactions.
    </p>
    
    <h2><strong>Music</strong></h2>
    
    <p>Music house Harpa <a href="http://www.harpa.is">www.harpa.is</a><br />
    Icelandic Symphony Orcestra&nbsp; <a href="http://www.sinfonia.is">www.sinfonia.is</a><br />
    The Icelandic Opera&nbsp;&nbsp; <a href="http://www.opera.is/en/">www.opera.is/en/</a></p>
    
    <p>
        Bars and Clubs sometimes have live music. The places most likely to find live music are Húrra and Rósenberg, you can find both on Facebook.
    </p>
    
    <p>
        <a href="http://icelandairwaves.is/">Iceland Airwaves</a>&nbsp;is Icelands biggest&nbsp;music festival, it is held in several venues in down
        town Reykjavik. It is highly recommended.&nbsp;
    </p>
    
    <p>&nbsp;</p>
    
    <h2><a name="news_in_english"></a>News in English</h2>
    
    <p>
        News in English is available on <a href="http://www.icelandreview.com" target="_blank">www.icelandreview.com</a>
        and <a href="http://www.icenews.is" target="_blank">icenews.is</a>. In addition there is the monthly magazine 
        <a href="http://grapevine.is/">grapevine</a> which has interesting articles as well as useful information on what't
        happening in Reykjavik each month.
    </p>
    
    <h2><a name="psychological"></a>Psychological problems or homesickness</h2>
    
    <p>
        The Red Cross Helpline 1717 is a toll-free number open 24 hours a day for those needing assistance due to grief, anxiety, fear,
        depression and/or suicidal thoughts. Red Cross volunteers offer immediate emotional support to those feeling distressed or lonely
        and provide further information on how to receive more assistance if needed.
    </p>
    
    <p>
        Your <a href="http://lme.lausn.is/id/484">health care centre</a> can refer you to a psychiatrist or psychologist if needed.
    </p>
    
    <p>
        For emergencies go to the University Hospital - Landspítali. The Psychiatric Ward at Hringbraut, 101 Reykjavík, tel. +354 543 4050,
        is open for emergencies from 12:00-19:00 on weekdays and from 13:00-17:00 on weekends. If you need emergency assistance during closing
        hours, go to the Landspitali Emergency Room, Fossvogur, tel. +354 543 1000.
    </p>
    
    <p>
        For emergencies in Akureyri you can go the University Hospital in Akureyri (FSA) Psychiatric Ward, tel. 463 0100, emergencies tel. 848 2600.
    </p>
    
    <h2><a name="radio"></a>Radio</h2>
    
    <p>
        There is a selection of radio stations in Iceland. 
        <a href="http://is.wikipedia.org/wiki/Listi_yfir_%C3%BAtvarpsst%C3%B6%C3%B0var_%C3%A1_%C3%8Dslandi" target="_blank">
            List of radio channels in Iceland on Wikipedia (in Icelandic)</a>.
    </p>
        
    <h2><a name="religious_practices"></a>Religious practices</h2>
    
    <p>
        Iceland has a <a href="http://www.kirkjan.is/english">State Lutheran Church</a>, but the Icelandic Constitution grants religious
        freedom. Church attendance is relatively low.
    </p>
    
    <p>
        <a href="http://www.domsmalaraduneyti.is/raduneyti/starfssvid/kirkjumal/upplysingar//nr/795" target="_blank">Listed Religious Denominations
        Other than the National Church of Iceland (The Ministry of Justice and Human Rights)</a>
    </p>
    
    <h2><a name="remember_to_pack"></a>Remember to pack</h2>
    
    <ul>
        <li>Adaptor for electrical appliances (220V, frequency 50Hz)</li>
        <li>Cash (Icelandic Krónur) and/or credit/debit card</li>
        <li>Acceptance letter from your university in Iceland</li>
        <li>
            Tickets, insurance papers and other documents required for the residence permit, i.e., documentary evidence that you have enough money
            to support yourself while studying in Iceland (a current and signed/stamped bank statement or proof of scholarship). Please note, you 
            will need all of the documentation you collected for your visa application AGAIN to renew your visa in 6 months.
        </li>
        
        <li>Passport (check that the passport is valid for three months more than your expected stay in Iceland)</li>
        <li>Foul weather gear: rain pants and coat, snow pants, warm hat and gloves, clothes for layering, good waterproof boots</li>
        <li>Suggested: skis/snow shoes/snowboard if you have them</li>
        <li>Camera</li>
        <li>Personal items that will help you feel at home</li>
    </ul>
    
    <h2><a name="restaurants_bars"></a>Restaurants and bars</h2>
    
    <p>In Iceland there is a variety of restaurants and cuisine from all over the world.</p>
    
    <p>
        The minimum drinking age is 20 years. Be prepared to show your ID&nbsp;card at the entrance. Opening hours for the majority of 
        cafe and bars are Sunday to Thursday 10:00-01:00 and Friday and Saturday 10:00-03:00. Nightclubs close around 04:00 or 05:00. 
        It is forbidden to smoke in restaurants, clubs and bars.
    </p>
    
    <h2><a name="smoking"></a>Smoking</h2>
    
    <p>It is not allowed to smoke in public buildings. It is forbidden to smoke in restaurants, clubs and bars.</p>
    
    <h2><a name="sport_facilities"></a>Sport facilities</h2>
    
    <p>There are many gyms in Iceland, most of them in the Reykjavík area. A gym in Icelandic is called 'líkamsræktarstöð'.</p>
    
    <h2><a name="supermarkets"></a>Supermarkets</h2>
    
    <p>
        Food in supermarkets is generally cheaper than food sold in the smaller local shops. The main supermarkets are Bónus, 
        Hagkaup, Nettó and Krónan. General shopping hours on weekdays are from 09:00/10:00-18:00, and on Saturdays from 10:00-14:00/16:00.
    </p>
    
    <h2><a name="taxis"></a>Taxis</h2>
    
    <p>
        There are a number of taxi companies throughout Iceland, and you can call for a cab by phone. Taxis are available around the clock. 
        They are clean and reliable, but rather expensive.
    </p>
    
    <h2><a name="tv_video"></a>Television and Video Systems</h2>
    
    <p>
        Television in Iceland began in September 1966. Channels can be received via analogue devices, or using broadband with the Skjárinn
        service from Síminn or Digital Ísland from Vodafone.&nbsp; <a href="http://en.wikipedia.org/wiki/Television_in_Iceland" target="_blank">
            Television channels in Iceland on Wikipedia</a>.
    </p>
    
    <h2><strong><a name="telephones_and_internet"></a>Telephones and Internet</strong></h2>
    
    <p>
        Mobile phones are widely used in Iceland, and most people have their own phone. Phone call charges vary greatly depending on phone
        companies, the time of day, the day of the week, and the duration of your call. To have a landline or internet installed in your rental
        home, please call one of the phone companies.
    </p>
    
    <p>
        In Iceland the vast majority of the population have mobile phones and use them a lot, even though they are rather expensive. Foreign 
        students are encouraged to bring their GSM mobile phones with them, and then to buy an Icelandic prepaid card, which provides an Icelandic
        telephone number and a certain amount of starter credit which can then be refilled. The major Icelandic GSM carriers are Nova, Síminn, Tal
        and Vodafone, and the prepaid cards can be purchased in the arrivals hall at Keflavík Airport (on weekdays, at least). Increasingly, though,
        students are finding Internet-based telephone services like Skype as useful as or more useful than a mobile phone card.
    </p>
    
    <p><a href="http://en.ja.is/hradleit/" target="_blank">The online telephone directory</a></p>
    
    <h2><a name="theatre"></a>Theatre</h2>
    
    <p>
        The two main theatres in Reykjavík are Þjóðleikhúsið and Borgarleikhúsið. Go to 
        <a href="http://www.midi.is" target="_blank">www.midi.is</a> for more information and tickets.
    </p>
    
    <p>There are also smaller theatres outside of Reykjavík. Contact your international office for more information.</p>
    
    <h2><a name="swimming_pools"></a>Thermal pools</h2>
    
    <p>
        Using outdoor swimming pools in Iceland is a unique experience, particularly when the outside temperatures are a few degrees below zero.
        Go to <a href="http://www.swimminginiceland.com" target="_blank">www.swimminginiceland.com</a> for more information.
    </p>
    
    <h2><a name="time"></a>Time</h2>
    
    <p>Iceland is on Greenwich Mean Time (GMT) throughout the year and does not go on daylight saving time.</p>
    
    <h2><a name="tipping"></a>Tipping</h2>
    
    <p>It is not customary to tip in Iceland at restaurants or in taxis, since bills always include service charges.</p>
    
    <h2><strong><a name="travel"></a>Travel</strong></h2>
    
    <p><a ui-sref='travelin-Iceland'>Travel in Iceland</a></p>
    
    <h2><a name="weather"></a>Weather/climate</h2>
    
    <p>
        Due to the effect of the Gulf Stream, Iceland enjoys a relatively mild coastal climate, considerably milder than the name
        of the country implies. During the summer (lasting from early June to mid-September), the average temperature is 12°C, and
        there are normally a few days in July or August where the daytime high climbs to 25°C. During the winter (October to mid-March)
        the average temperature is 2°C, and there are normally a few days in January or February when the temperature drops to -8° or -10°C
        (usually accompanied by bright sunshine). Drizzle and snow flurries are more common than downpours and snowstorms. Strong winds are,
        however, common.
    </p>
    
    <h2><a name="warm_clothes"></a>Warm clothes</h2>
    
    <p>
        Warm, waterproof, and windproof clothing is a good idea at any time of year. In Iceland we can never trust the weather. Remember that there
        is no such thing as bad weather, only a poor choice of clothes.
    </p>
    
    <h2><a name="working"></a>Working</h2>
    
    <p><a ui-sref='work-in-Iceland'>Work in Iceland</a></p>

</div>