<h3>Specific information</h3>
<div class="row" id="residenceNavRow">
    <ul class="nav navbar-nav" id="residenceNav">
        <li>
            <a ui-sref="non-eu-eea">Non-EU/EEA citizens</a>
        </li>
            
        <li>
            <a ui-sref="eu-eea">EU/EEA</a>
        </li>
            
        <li>
            <a ui-sref="municipality">Municipality Offices</a>
        </li>
    </ul>
</div>
<div ui-view="">
    <p>
        All foreign citizens (except Nordic) coming to Iceland to study need a residence permit if staying longer than three months in Iceland.
        In order to apply for the resident permit, the applicant must be registered as a full time student at a university, vocational school, 
        or other studies meeting university admission.
    </p>
    
    <p>
        EEA/EFTA citizens can apply after their arrival. Use the A-262 form in order to register for a period exceeding 3 months. see further:
        http:ww.skra.is//english/forms
    </p>
    
    <p><a href="http://utl.is/index.php/en/eea-member-countries">A list of EEA/EFTA member countries:</a></p>
    
    <p>
        Citizens outside EEA/EFTA must apply before their arrival to Iceland. Arrival to the country is <strong>not allowed</strong> 
        before application has been approved
    </p>
    
    <h2>The residence permit is applied for at:</h2>
    
    <p>
        <a href="http://utl.is/index.php/en/">Directorate of Immigration</a><br />
        Sk&oacute;garhl&iacute;&eth; 6<br />
        105 Reykjavik<br />
        Tel.: +354 510 5400
    </p>
    
    <h2>Inform the National Registry of your departure</h2>
    
    <p>
        Before leaving Iceland all international students must turn in a Notification of Change of Address to the National Registry.
        Notification of change of address can be delivered electronically. Use form A-255. The form should be downloaded 
        (do not open the form in a browser). Then save the completed document to your computer. Click &quot;Netskil&quot; for electronic delivery.
        You can find this form here <a href="http://www.skra.is/english/forms/">http://www.skra.is/english/forms/</a>
    </p>
    
    <p>
        If the form is<strong> not</strong> delivered electronically, it must be signed and posted to:<br />
        <strong>National Registry Iceland<br />
        Borgart&uacute;n 21<br />
        105 Reykjav&iacute;k<br />
        Iceland</strong>
    </p>
        
    <p>&nbsp;</p>

</div>