<div ui-view="">
    
    <ul>
        <li><strong>Bye</strong> = Bless / Vertu s&aelig;ll/s&aelig;l</li>
        
        <li><strong>Bus = </strong>Str&aelig;t&oacute;</li>
        
        <li><strong>Cheers</strong> = Sk&aacute;l</li>
        
        <li><strong>Cold</strong> = Kalt</li>
        
        <li><strong>Could you help me, please?</strong> = G&aelig;tir&eth;u hj&aacute;lpa&eth; m&eacute;r?</li>
        
        <li><strong>Do you speak English?</strong> = Talar&eth;u ensku?</li>
        
        <li><strong>Goodbye</strong> = Bless</li>
        
        <li><strong>Good evening</strong> = G&oacute;&eth;a kv&ouml;ldi&eth;/Gott kv&ouml;ld</li>
        
        <li><strong>Good morning</strong> = G&oacute;&eth;an daginn</li>
        
        <li><strong>Good night</strong> = G&oacute;&eth;a n&oacute;tt</li>
        
        <li><strong>Hello</strong> = Hall<strong>&oacute;</strong></li>
        
        <li><strong>How are you?</strong> = Hvernig hefur&eth;u &thorn;a&eth;? (Hva&eth; segir&eth;u?)</li>
        
        <li><strong>How much?</strong> = Hversu miki&eth;?</li>
        
        <li><strong>How much does this cost?</strong> = Hve miki&eth; kostar &thorn;etta?</li>
        
        <li><strong>I don&rsquo;t like this.</strong> = M&eacute;r l&iacute;kar ekki vi&eth; &thorn;etta.</li>
        
        <li><strong>I have to go now.</strong> = &Eacute;g ver&eth; a&eth; fara n&uacute;na.</li>
        
        <li><strong>I like this.</strong> = M&eacute;r l&iacute;kar vi&eth; &thorn;etta.</li>
        
        <li><strong>Left </strong>= vinstri</li>
        
        <li><strong>Let&rsquo;s go!</strong> = F&ouml;rum!</li>
        
        <li><strong>My name is&hellip;</strong> = &Eacute;g heiti...</li>
        
        <li><strong>Nice to meet you.</strong> = Gaman a&eth; hitta &thorn;ig.</li>
        
        <li><strong>Okay</strong> = Allt &iacute; lagi</li>
        
        <li><strong>No</strong> = Nei</li>
        
        <li><strong>No thank you</strong> = Nei, takk.</li>
        
        <li><strong>Right </strong>= h&aelig;gri</li>
        
        <li><strong>See you</strong> = Sj&aacute;umst</li>
        
        <li><strong>See you tomorrow</strong> = Sj&aacute;umst &aacute; morgun</li>
        
        <li><strong>See you tonight </strong>= Sj&aacute;umst &iacute; kv&ouml;ld</li>
        
        <li><strong>Where is..... ? </strong>=Hvar er....?<br />&nbsp;</li>
    </ul>

</div>