<div ui-view="">
    <h2>Police, ambulance and fire alarm, phone number: <span style="font-size:14px;">112</span></h2>
    
    <ul>
        <li><a href="http://asetur.is/en">Al&thorn;j&oacute;&eth;asetur - Intercultural Center</a></li>
        
        <li><a href="http://www.bsi.is" target="_blank">BS&Iacute; - Bus tours in Iceland</a></li>
        
        <li><a href="http://www.icelandreview.com/" target="_blank">Daily news from Iceland - Iceland Review</a></li>
        
        <li><a href="http://www.eures.is/english/home/">EES Vinnumi&eth;lun - EURES European Employment Services</a></li>
        
        <li><a href="http://www.esnreykjavik.com" target="_blank">ESN Reykjav&iacute;k - International Students Association</a></li>
        
        <li><a href="http://www.mcc.is/english" target="_blank">Fj&ouml;lmenningarsetur - Multicultural and Information Centre</a></li>
        
        <li>
            <a href="http://www.mfa.is/diplomatic-missions/foreign-missions/nr/1808" target="_blank">
            Foreign Embassies and Consulates Accredited to Iceland</a>
        </li>
        
        <li><a href="http://www.norden.is/english/">Foreningen Norden i Island</a></li>
        
        <li><a href="http://www.norden.org/en/resources">Hallo Norden</a></li>
        
        <li>
            <a href="http://www.heilsugaeslan.is/?pageid=7878bcc1-78d7-46d8-b489-35350bf3486f">
                Heilsug&aelig;sla h&ouml;fu&eth;borgarsv&aelig;&eth;isins - Primary Health Care of the Capital Area</a>
        </li>
        
        <li><a href="http://www.icetourist.is" target="_blank">Icelandic Tourist Board - Tourist activities in Iceland </a></li>
        
        <li><a href="http://www.rsk.is/english/individuals/">R&iacute;kisskattstj&oacute;ri - Internal Revenue&#39;s Office</a></li>
        
        <li><a href="http://bondi.is/Pages/908" target="_blank">Shopper&#39;s Guide to Icelandic Food </a></li>
        
        <li><a href="http://www.straeto.is/english" target="_blank">Str&aelig;t&oacute; bs. - Public transportation in Reykjav&iacute;k</a></li>
        
        <li><a href="http://www.utl.is" target="_blank">&Uacute;tlendingastofnun - Icelandic Directorate of Immigration</a></li>
        
        <li><a href="http://english.vinnumalastofnun.is/home/">Vinnum&aacute;lastofnun - Directorate of Labour</a></li>
        
        <li><a href="http://www.visiticeland.com/" target="_blank">Visit Iceland </a></li>
        
        <li><a href="http://www.visitreykjavik.is" target="_blank">Visit Reykjavik - Tourist activities in Reykjav&iacute;k</a></li>
        
        <li><a href="http://www.visitakureyri.is/en">Visit Akureyri &ndash; Tourist activities in Akureyri</a></li>
        
        <li><a href="http://en.vedur.is/">Weather forecast in Iceland</a></li>
        
        <li><a href="http://www.skra.is/english/english/">&THORN;j&oacute;&eth;skr&aacute; - National Registry</a></li>
        
        <li><a href="http://www.euraxess.is/incoming-researchers/">Euraxess</a></li>
    </ul>

</div>