<div ui-view="">
    <p>
        Individuals with a student residence permit do not automatically have the right to work in Iceland, although there
        are certain situations where an individual may be able to apply for a work permit. Please contact the 
        <a href="http://english.vinnumalastofnun.is/home/">Directorate of Labour</a> (IS Vinnum&aacute;lastofnun) or the 
        <a href="http://www.utl.is" target="_blank">Icelandic Directorate of Immigration </a>for further information.
    </p>
    
    <h2>Income Tax</h2>
    
    <p>
        Everyone working in Iceland must pay taxes. The taxation system in Iceland is a PAYE system (Pay-As-You-Earn). 
        Employers are required to calculate and withhold taxes from all salaries and wages paid to employees. To receive a tax card, 
        go to your local or inland tax office. You can find their addresses at the 
        <a href="http://www.rsk.is/english/individuals/">Internal Revenue&rsquo;s website</a> (IS R&iacute;kisskattstj&oacute;ri)
    </p>
    
    <p>
        Applicants must have an Icelandic ID number (IS kennitala), and be prepared to show personal identification with a picture. 
        In order to have the right amount of tax deducted, you have to give your employer your tax card. The student is obliged to file a 
        tax return with the IRO no less than one week before the student&rsquo;s departure.
    </p>
    
    <p>
        For further information on this matter, contact the 
        <a href="http://english.vinnumalastofnun.is/home/">Directorate of Labour</a>, 
        Kringlunni 1, vinnumalastofnun@vmst.is, tel. +354 515 4800.
    </p>

</div>