<div ui-view="">
    <h2>Grading system</h2>
    
    <p>
        As a general rule grades are expressed on a scale of 0-10, where the passing grade is 5 and above, or with a pass/fail assessment.
        Course grades are usually given in increments of 0.5, and averages are computed to two decimal places. In most institutions of higher
        education, courses of study require a combined average of 5 or a minimum grade of 5 in each subject&nbsp; to pass. In some institutions
        average grade points are not calculated, and in individual courses the minimum required grade can be higher than 5. According to regulations
        in most institutions, a student may sit for examination in a given course twice. When a student&#39;s grade-point average is calculated, 
        failing grades (marked F) are not included in the calculation.
    </p>

	<h2>Credits</h2>
	
	<p>
	    In most institutions, studies are divided into study credits according to the European Credit Transfer System (ECTS). 
	    60 credits amount to one year of full-time study, and 30 credits constitute one semester&#39;s full-time study. 
	    The number of credits is generally indicated in the course catalogue of each institution.
	</p>

	<h2>System of Study</h2>
	
	<p>
	    <strong>Bachelor degrees</strong> (B.A., B.S., B.Ed.) are awarded to students who have satisfactorily completed three to four years of study
	    (180-240 credits) in a Bachelor degree programme. Bachelor degrees do not usually confer professional certification, except for nursing (B.S.)
	    and compulsory schoolteachers (B.Ed.). The bachelor degree constitutes a formal qualification for postgraduate study.<br /><br />
	    
	    <strong>Candidatus degrees</strong> (kandidatsgr&aacute;&eth;a) qualify the holder for a special office or profession and usually
	    take four to six years.<br /><br />
	    
	    <strong>Postgraduate certificates</strong> are offered in some subjects after one year of postgraduate study.<br /><br />
	    
	    <strong>Masters degrees</strong> (M.A., M.S. - meistaragr&aacute;&eth;a) are awarded after completion of two successful years of postgraduate
	    study. A major thesis or research project is a substantial part of the programme.<br /><br />
	    
	    <strong>Doctorate degrees</strong> (Ph.D.- doktorsgr&aacute;&eth;a) are awarded by the following universities: The University of Iceland,
	    Reykjav&iacute;k University and The Agricultural University of Iceland in cooperation with The University of Iceland. PhD degrees are awarded
	    to those having successfully completed a doctorate programme and defended a doctoral thesis.<br /><br />
	    
	    For further information on programmes offered, please contact each university or college.<br />
	    &nbsp;
	</p>

</div>