<div ui-view="">
    <h2>Fees</h2>
    
    <p>
        Tuition fees at higher educational institutions differ between institution, and the amount can depend on whether the institution is state
        or privately owned.&nbsp;
    </p>
    
    <p>Please find further information about fees on each school&#39;s website.</p>

	<h2>Scholarships</h2>
	
	<p>Scholarships are awarded by individual institutions:</p>
	
	<p><a href="http://en.ru.is/services/student-services/scholarships-and-awards/">Reykjavik University</a></p>
	
	<p><a href="http://www.sjodir.hi.is/english">University of Iceland</a></p>

	<h2>Other Scholarships:</h2>
	
	<p>
	    The Icelandic Ministry of Education, Science and Culture awards annually a number of scholarships to foreign students for study of the
	    Icelandic language, literature and history at the University of Iceland, Reykjav&iacute;k. The scholarships are intended for students of
	    language and literature.<br /><br />
	    The handling of the Icelandic Government Scholarships Programme is at the 
	    <a href="http://arnastofnun.is/page/a_inter_scholarships" target="_blank">&Aacute;rni Magn&uacute;sson Institute for Icelandic Studies -
	    The Sigur&eth;ur Nordal office.</a><br /><br />
	</p>

</div>