<h3>Specific information</h3>
<div class="row" id="enlgishNavRow">
    <ul class="nav navbar-nav" id="enlgishNav">
        <li>
            <a ui-sref="programmes-english">Bachelor</a>
        </li>
        <li>
            <a ui-sref="masters">Masters</a>
        </li>
            
        <li>
            <a ui-sref="phd">Phd</a>
        </li>
            
    </ul>
</div>

<div ui-view="">

    <h2>Bachelor programmes</h2>
    <div id="bachelorProgrammes">
        <p>Humanities</p>
        
        <ul>
            <li>
                <a href="https://ugla.hi.is/kennsluskra/index.php?tab=skoli&amp;chapter=content&amp;id=29654&amp;kennsluar=2014">
                    BA in Icelandic Studies for Foreign Students</a>, University of Iceland
            </li>
            
            <li>
                <a href="https://ugla.hi.is/kennsluskra/index.php?tab=nam&amp;chapter=namsleid&amp;id=730000_20146&amp;kennsluar=2014">
                    International studies in education,</a> University of Iceland
            </li>
        </ul>

    </div>
    
    <h2>Higher education institutions</h2>
    <div id="higherEducation">
        <p><a href="http://www.bifrost.is/english/academics/exchange-program-courses-in-english">Bifr&ouml;st University</a></p>
        
        <p><a href="https://ugla.holar.is/kennsluskra/index.php?tab=nam&amp;kennsluar=2013&amp;flaturlisti=1&amp;namsstig=F">
            Holar University College</a>
        </p>
        
        <p><a href="http://lhi.is/english/">Icelandic Academy of Arts</a></p>
        
        <p><a href="http://en.ru.is/studies/graduate/">Reykjav&iacute;k University&nbsp; </a></p>
        
        <p><a href="http://english.unak.is/students/degree-seeking-students/polar-law">University of Akureyri</a></p>
        
        <p><a href="http://english.hi.is/university/graduate_studies">University of Iceland</a></p>

    </div>

</div>