<div ui-view="">
    <h2>University of Iceland:</h2>
    
    <p>
        The Faculty of Political Science and the Centre for Small States at the University of Iceland holds an intensive two-week summer course
        focusing on small states and the European integration process. For further information please see
        <a href="http://ams.hi.is/en/research-institutes/csss/"> Institute of International Affairs Centre for Small State Studies.</a>
    </p>
    
    <p>
        <a href="http://marine.is/index.html">Marine Education in Iceland</a> offers intensive graduate programmes for students wanting to study
        marine biology and ecology, fisheries science, marine conservation and marine recourse policy and management.
    </p>
    
    <p>
        <a href="http://www.arnastofnun.is/page/a_inter_summer_course" target="_blank">Icelandic and Culture, Summer Course in Modern Icelandic</a>.
        The &Aacute;rni Magn&uacute;sson Institute for Icelandic Studies, in cooperation with the Faculty of Humanities at the University of Iceland,
        organizes every year a 4 week International Summer Course in Modern Icelandic and Icelandic Culture.
    </p>
    
    <p>
        <a href="http://www.arnastofnun.is/page/islenskunamskeid_minnesota_en">University of Minnesota - University of Iceland, Icelandic language
        course</a>. The University of Minnesota and The &Aacute;rni Magn&uacute;sson Institute for Icelandic Studies organizes every year a unique
        joint course in Modern Icelandic for undergraduate and graduate students in North America. This six-week course begins at the University of 
        Minnesota for three weeks (5/27-6/13) and then continues at the University of Iceland (6/16-7/4).
    </p>
    
    <p>
        <a href="http://www.arnastofnun.is/page/islenskunamskeid_norraen_en">University of Iceland - The &Aacute;rni Magn&uacute;sson Institute for 
        Icelandic Studies.</a> Nordkurs offers a 4 week summer course in Icelandic in cooperation with The &Aacute;rni Magn&uacute;sson Institute 
        for Icelandic Studies. The course is held annually in June and is intended for Scandinavian university students only.
    </p>
    
    <p><a href="http://icelandiconline.is">Icelandic Online</a> is a free-access, Web based course in Modern icelandic language and culture.</p>


	<h2>Bifröst University</h2>
	
	<p>
	    Bifröst University offers International Summer School from July 16th to August 7th 2016. The program explores New Perspectives in Leadership
	    and Management and the main subjects are Leadership – Innovation – Corporate Social Responsibility.
	</p>
	
	<p>
	    <a href="http://www.bifrost.is/english/international/international-summer-school">
	    http://www.bifrost.is/english/international/international-summer-school</a>
	</p>
	
	<p>
	    There are a number of accommdation options for individual students and groups.&nbsp;At Bifröst camus&nbsp;&nbsp;everything from a single
	    rooms to 4&nbsp;-bedroom apartments. The camps offers various services such as a&nbsp;supermarket, bar, café, restaurant, hot tub,sauna and
	    fully equipped indoor exercise faclities.
	</p>

	<h2>University Centre of Westfjords:</h2>
	
	<p>
	    University Centre of Westfjords offers a variety of summer courses.They offer courses in Icelandic for international exchange studentscoming
	    to Icelandic higher education institutions. For further information please see the <a href="http://www.uwestfjords.is/summer_schools/">
	        University Centre of Westfjords website.&nbsp;</a>
	</p>

</div>