<div class="container" id="searchUniContainer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4" id="searchH1">
            <h1 id="searchUniHtop">FIND YOUR</h1>
            <h1 id="searchUniHBottom">PROGRAMME <br> OF STUDY.</h1>
        </div>
        
        <div class="col-sm-1">
            <label id="degreTypeLabel">Level</label>
            <select class="form-control" id="degreTypeBox">
                <option>Masters</option>
                <option>Bachelor</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label id="subjectAreaLabel">Subject Area</label>
            <select class="form-control" id="subjectAreaBox">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div class="col-sm-1">
            <input class="btn" type="submit" value="Search" id="searchUnvButton">
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<div class="container" id="lowerContainer">
    <div id="scholarshipDiv"><div id="spacer"></div><a>Scholarship</a></div>
    <div id="guideToStudyDiv"><div id="spacer"></div><a>Guide to study in Iceland</a></div>
    <div id="travelToIcelandDiv"><div id="spacer"></div><a>Travel to Iceland</a></div>
</div>

<footer class="footer">
      <div class="container" id="footerContainer">
          <div class="row">
              <div class="col-sm-3">
                  <ul>
                      <label id="footerLabel">Why Iceland</label>
                      <li>A</li>
                      <li>A</li>
                      <li>A</li>
                    </ul>
              </div>
              <div class="col-sm-3">
                  <ul>
                      <label id="footerLabel">Living in Iceland</label>
                      <li>A</li>
                      <li>A</li>
                      <li>A</li>
                    </ul>
              </div>
              <div class="col-sm-3">
                  <ul>
                      <label id="footerLabel">Study in Iceland</label>
                      <li>A</li>
                      <li>A</li>
                      <li>A</li>
                    </ul>
              </div>
              <div class="col-sm-3">
                  <ul>
                      <label id="footerLabel">Learn Icelandic</label>
                      <li>A</li>
                      <li>A</li>
                      <li>A</li>
                    </ul>
              </div>
          </div>
      </div>
</footer>