<div class="jumbotron" id="jumbotronHome">
    <h1>One of the best <br> study environments in the world</h1>
    <p>Iceland is the most peaceful country in the world.</p>
    <p>Learn more about Iceland great quality of life.  </p>
</div>