<nav class="navbar navbar-default" id="LearnIcelandicNav">
  <div class="container-fluid" id="LearnIcelandicNavContainer">
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref="language-course">Language Course for Exchange Students</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron" id="jumbotronlearnIcelandic">
	<h1>Learn Icelandic</h1>
</div>
<div class="container" id="learnIcelandicContainer">
    <div ui-view="">
    	<h2>Icelandic Online</h2>
    	
    	<p>
    		Through the <a href="#" target="_blank">Icelandic Online</a> web course, offered by the University of
            Iceland Language Centre, you can learn basic Icelandic on the internet.
        </p>
        
        <h2>University of Iceland - Icelandic for International Students</h2>
        
        <p>The University of Iceland offers two separate programmes in Icelandic for foreign students:</p>
        
        <ul>
        	<li>
        		A BA programme in Icelandic Studies for international students is for students seriously interested
        		in the structure of the language and the literature of Iceland, as well as students interested in improving
        		their skills in Icelandic.
        	</li>
        	
        	<li>
        		Practical Icelandic for International students is optimal for people wanting to improve their language skills in preparation
        		for further university studies or careers in Icelandic society.
        	</li>
        </ul>
        
        <p>
        	For more information about the programmes, entrance requirements and application deadlines please see the 
        	<a href="http://english.hi.is/school_of_humanities/faculty_of_icelandic_and_comparative_cultural_studies/icelandic_second_language">
        		programmes website</a>
        </p>
        
        <p>
        	<a href="http://icelandiconline.is">Icelandic online </a>is a free-access, Web-based course in Modern Icelandic language and culture
        </p>
        
        <p>
        	Icelandic language courses offered in the summer,&nbsp; see summer schools section
        </p>
        
        <h2>University of Akureyri - Icelandic as a foreign language</h2>
        
        <p>
        	University of Akureyri offers a 6 ECTS course every semester for international students; exchange and degree seeking.
        	The aim of the course is to give the student comprehensive insight into the Icelandic language. Emphasis is placed on
        	written and spoken language.
        </p>
        
        <p>
        	For more information about the course, entrance requirements and application deadlines please see the 
        	<a href="https://ugla.unak.is/kennsluskra/index.php?tab=nam&amp;chapter=namskeid&amp;id=86138720136">course website.</a>
        </p>
        
        <h2>University Centre of the Westfjords - Intensive Language Preparation Course in Icelandic for International Students</h2>
        
        <p>
        	The course is for exchange and other international students coming to Icelandic institutions of higher education during the academic year.
        	Erasmus students might get support from their home university to attend this course.&nbsp; All exchange students are&nbsp; welcome 
        	but&nbsp;must pay&nbsp; tuition. Non-exchange students are referred to a parallel course offered by the University Centre.
        </p>
        
        <p>
        	For more information about the course, entrance requirements and application deadlines, please see the
        	<a href="http://www.uw.is/icelandic_courses/beginners_a1-a2_nupur/">course website</a>.
        </p>
        
        <h2>University Centre of the Westfjords - Beginners A1-A2 Ísafjörður</h2>
        
        <p>
        	This three week&nbsp; course is especially designed to meet the needs of people wanting to learn Icelandic while experiencing the
        	life in a small Icelandic town.
        </p>
        
        <p>
        	For more information about the course, entrance requirements and application deadlines, please see the 
        	<a href="http://www.uw.is/icelandic_courses/beginners_a1-a2_isafjordur/"> course website.</a>
        </p>
        
        <h2>University Centre of the Westfjords - Crash Course A1 Núpur</h2>
        
        <p>
        	This one week course is an intensive beginner's course in the Icelandic language and culture and is especially designed to meet the 
        	needs of students planning to study in Iceland. Scheduled in both January and August, the course will prepare students for daily life in 
        	Iceland and participation in the university community.
        </p>
        
        <p>
        	
        	For further information about the course, entrance requirements and application deadlines, please see the 
        	<a href="http://www.uw.is/icelandic_courses/beginners_a1_crash_course/">course website.</a>
        </p>
        
        <h2>University Centre of the Westfjords - Intermediate A2-B1</h2>
        
        <p>
        	The two week long Intermediate course is especially designed to meet the needs of people who want to improve their prior
        	knowledge of Icelandic and at the same time experience the life in a small Icelandic town. this is an exciting summer course, 
        	in the magnificent surroundings of the remote Westfjords, and will increase students´s skills in Icelandic.
        </p>
        
        <p>
        	For further information about the course, entrance requirements and application deadlines, please see the 
        	<a href="http://www.uw.is/icelandic_courses/intermediate_a2-b1/">course website.</a>
        </p>
        
        <h2>University Centre of the Westfjords - Advanced Special B2</h2>
        
        <p>
        	Under the name Icelandic-Special we offer two one week courses during August for advanced learners (CEFR-level-B1-B2).
        	The courses are independent entities, each course&nbsp;emphasizes special skills, so that participants can freely combine them.
        </p>
        
        <p>
        	For further information about the courses, entry requirements and application&nbsp;deadlines please visit the 
        	<a href="http://www.uw.is/icelandic_courses/"> Icelandic Courses webpage</a> of the University Centre of the Westfjords.
        </p>
        
        <h2>University of Iceland - Summer Course in Modern Icelandic</h2>
        
        <p>
        	Every year the &Aacute;rni Magn&uacute;sson Institution for Icelandic Studies, in cooperation with the Faculty of Humanities at 
        	the University of Iceland, organizes an&nbsp;international summer course in Modern Icelandic and Icelandic Culture. The course is 
        	primarily intended for university students of language and literature, but anyone interested in Icelandic and Icelandic culture is 
        	welcome to apply. The applicants&#39; residence must not be in Iceland.
        </p>
        
        <p>
        	For more information about the course, entrance requirements and application deadline please see  
        	<a href="http://www.arnastofnun.is/page/a_inter_summer_course_gen_inf">The &Aacute;rni Magn&uacute;sson Institute website </a>
        </p>
        
        <h2>University of Iceland and University of Minnesota - A Course in Modern Icelandic</h2>
        
        <p>
        	The University of Minnesota and the &Aacute;rni Magn&uacute;sson Institute for Icelandic Studies offer a unique joint
        	course in Modern Icelandic for undergraduate and graduate students in North America. Three weeks (5/27-6/13) are taught at 
        	University of Minnesota, and then the course continues for three weeks (6/16-7/4) at the University of Iceland.
        </p>
        
        <p>
        	For further information, entrance requirements and application deadline, please see 
        	<a href="http://www.arnastofnun.is/page/a_inter_summer_course_r-m">The &Aacute;rni Magn&uacute;sson Institute website</a>
        </p>
        
        <h2>University of Iceland and Nordkurs - Summer Course for Nordic Students</h2>
        
        <p>
        	Nordkurs, an institution run by the Nordic Council of Ministers, offers a 4 week summer course in Icelandic in cooperation with
        	the &Aacute;rni Magn&uacute;sson Institute for Icelandic Studies. The course is intended for Scandinavian university students only.
        </p>
        
        <p>
        	For further information, entrance requirements and application deadline, please see 
        	<a href="http://www.arnastofnun.is/page/a_inter_summer_course_nordic">The &Aacute;rni Magn&uacute;sson Institute website</a>
        </p>
        
        <h2>The Snorri Program - summer course</h2>
        
        <p>
        	The Snorri Program is aimed at young people of Icelandic origin, living in Canada and the US, to discover the country and culture
        	of their ancestors and to strengthen&nbsp;ties with relatives living in Iceland.
        </p>
        
        <p>
        	For further information, entrance requirements and application deadline please see <a href="http://www.snorri.is/">
        		The Snorri Program website </a>
        </p>
        
        <h2>Intercultural Centre - Al&thorn;j&oacute;&eth;asetur</h2>
        
        <p>Intercultural Center offers courses in Icelandic that&nbsp;are open to&nbsp;the general public.</p>
        
        <p>
        	For further information about the courses, entrance requirements and application deadline, please see the 
        	<a href="http://asetur.is/english/index-eng.html">Intercultural Centre website</a>
        </p>
        
        <h2>M&iacute;mir&nbsp; S&iacute;menntun</h2>
        
        <p>M&iacute;mir S&iacute;menntun offers beginning, intermediate and advanced courses in Icelandic for foreigners.</p>
        
        <p>
        	For further information about the courses, entrance requirements and application deadlines, please see 
        	<a href="http://www.mimir.is/icelandic-courses/" target="_blank">M&iacute;mir S&iacute;menntun website</a>
        </p>
        
        <h2>Hafnarfj&ouml;r&eth;ur Municipal Centre for Adult Education (N&aacute;msflokkar Hafnarfjar&eth;ar)</h2>
        
        <p>Hafnarfj&ouml;r&eth;ur&#39;s Municipal Centre for Adult Education offers courses in Icelandic for foreigners.</p>
        
        <p>
        	For more information, entrance requirements and application deadlines, please&nbsp; see&nbsp;
        	<a href="http://www.nhms.is/">Hafnarfj&ouml;r&eth;ur&#39;s Municipal Centre for Adult Education Website </a>
        </p>
        
        <h2>Lingva Language School</h2>
        
        <p>Lingva Language School offers courses in Icelandic.</p>
        
        <p>
        	For more information, entrance requirements and application deadlines, please see 
        	<a href="http://www.lingva.is/icelandic-slenska/"> Lingva&#39;s website</a>
        </p>
    </div>

</div>