<nav class="navbar navbar-default" ng-controller="navController">
    <div class="container-fluid" id="navContainer">
        <div class="row" id="headerNav"></div>
        <div class="row" id="lowerNav">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/home')}"><a href="/home" id="homeImg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Coat_of_arms_of_Iceland.svg/800px-Coat_of_arms_of_Iceland.svg.png"/></a></li>
                <li id="rect1A"><a href="#" class="lowerNavA">Why Iceland</a><div class="rectangle" id="rect1"></div></li>
                <li id="rect2A"><a href="#" class="lowerNavA">Living in Iceland</a><div class="rectangle" id="rect2"></li>
                <li id="rect3A"><a href="#" class="lowerNavA">Study in Iceland</a><div class="rectangle" id="rect3"></li>
                <li id="rect4A"><a href="#" class="lowerNavA">Learn Icelandic</a><div class="rectangle" id="rect4"></li>
            </ul>
        </div>
    </div>
</nav>