<nav class="navbar navbar-default" id="studyIcelandNav">
  <div class="container-fluid" id="studyIcelandNavContainer">
    <ul class="nav navbar-nav">
      <li><a ui-sref="study-in-iceland">Admission Application</a></li>
      <li><a ui-sref='credits-and-degree'>Credits and Degree</a></li>
      <li><a ui-sref='fees-and-scholarships'>Fees Scholarships</a></li>
      <li><a ui-sref='programmes-english'>Programmes Taught in English</a></li>
      <li><a ui-sref='summer-schools'>Summer Schools</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron" id="jumbotronstudyIceland">
	<h1>Study in Iceland</h1>
</div>
<div class="container" id="studyIcelandContainer">
    <div ui-view="">
        <h2>Admission Requirements for Higher Education. </h2>
        
        <p>
            As a main rule, students enrolling in higher education &nbsp;institution must have completed matriculation examination or equivalent
            level of study. Higher education institutions can accept students who possess equivalent level of maturity and knowledge as assessed by
            the respective higher education institution. It must be ensured that higher education institutions&rsquo; admission requirements and 
            study standards correspond to those required in certified higher education institutions within similar fields in other countries. 
            The Higher Education Act allows higher education institutions to set specific admission requirements for students enrolling in study at
            higher education level such as requiring students, who meet with the aforementioned demands, to pass an entrance examination or assessment.
        </p>
        
        <p>
            Students enrolling in studies at second cycle shall have completed a Bachelor&acute;s degree or equivalent three-year study at higher
            education level. Students are expected to enrol in a study programme that is based on the learning outcomes they have acquired during
            studies at the first cycle of higher education.
        </p>
        
        <p>
            Students enrolling in Doctoral studies are as a rule required to have completed Master&acute;s degree or Candidatus degree from cycle
            /stage 4.2.2.
        </p>
        
        <p>
            Higher education institutions that offer Doctoral studies according to an accreditation provided by the Minister of Education, 
            Science and Culture have fulfilled the rules for Doctoral studies no. 37/2007, cf. paragraph 4, article 7, of the Higher Education
            Act no. 63/2006.
        </p>
        
        <p>(Source: National Qualification framework for higher education published in 2011)</p>
        
        <p>
            Admission requirements can differ between universities and faculties. Please contact the university in question for further information.
        </p>
        
        <p>
            For application forms contact each university or college. Application deadlines differ from school to school, most commonly sometime 
            between March and June each year.<br />&nbsp;
        </p>
        
        <h2>Academic Year</h2>
        
        <p>
            In most institutions of higher education, the academic year lasts from September to May and is divided into two semesters, fall and 
            spring. Generally, the fall semester is from September to December and the spring semester from January to May.
        </p>

        
    </div>