<nav class="navbar navbar-default" id="travelinIcelandNav">
  <div class="container-fluid" id="travelinIcelandNavContainer">
    <ul class="nav navbar-nav">
      <li><a ui-sref="travel-safe">Travel safe</a></li>
      <li><a ui-sref="recommended">Recommended</a></li>
      <li><a ui-sref="useful-links-travel">Useful Links</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron" id="jumbotrontravelinIceland">
	<h1>Travel in Iceland</h1>
</div>
<div class="container" id="travelinIcelandContainer">
  <div ui-view="">
    
    <p>
      Iceland is a land of contrasts, fire and ice. Reykjav&iacute;k, the capital, may not be the largest city in the world but there you can
      find everything that bigger cities offer today. Whether it is modern Icelandic design you search, designer boutique or the typical low 
      prize brands you can do some good shopping. In Reykjav&iacute;k you can also find quality restaurants and a vivid night live.
    </p>
    
    <p>
      If it is nature you seek you will not be disappointed. As the land is densely populated and unpolluted it is easy to find peace and quiet
      in the midst of extraordinary magical landscape.
    </p>
    
    <p>
      But you can also find lots of opportunity for adventure in Iceland; spurting geysers, glaciers and waterfalls offer endless possibilities
      for an exciting adventure either in the sun or in snowfall.
    </p>


  </div>
    
</div>