<div class="jumbotron" id="jumbotronWhyIceland">
	<h1>Why Iceland</h1>
</div>
<div class="container" id="whyIcelandContainer">

	<p style="text-align: center;">
		<i>I could not help observing with interest the mineralogical curiosities which lay about me as in a
		vast museum, and I constructed for myself a complete geological account of Iceland, [a] most curious island.</i>
	</p>
	<div id="content">
		<p style="text-align: center;">
			&mdash; <b><a href="http://en.wikipedia.org/wiki/Jules_Verne" title="Jules Verne">Jules Verne</a></b>,
			<i><a href="http://en.wikipedia.org/wiki/A_Journey_to_the_Center_of_the_Earth" title="A Journey to the Center of
			the Earth">A Journey to the Centre of the Earth</a></i>
		</p>
		
		<p>
			As Jules Verne, the visitor will be charmed by this country. But Iceland is not only&nbsp;a land of mysteries,
			legends and natural wonders. It has much more to offer to those choosing to come to Iceland.
		</p>
		<p>
			Located between America and Europe, Iceland is a modern country. Fisheries, geothermal factories and natural 
			renewable energy resources are just a few things making this country a good place to visit.
		</p>
		
		<h2>A bit of history</h2>
		
		<p>
			Iceland was settled in the 9th century by Nordic, Scandinavian and British people. It is said that the first
			permanent settler was Ing&oacute;lfur Arnarson, a Norwegian Viking who made his home where Reykjav&iacute;k now stands.
		</p>
		
		<p>
			Iceland was the country that had the world&#39;s first republican government. The parliament was established in &THORN;ingvellir
			in 930 and met continuously until 1291 when Iceland lost its independence and became part of the Kingdom of Norway and&nbsp;later
			came under the Danish Crown.
		</p>
		<p>
			There were several independence movements during the 18th century and finally in 1918 Denmark recognised Iceland as a sovereign
			state under the Danish monarchy, with the signing of The Act of Union. One of the most famous&nbsp;figures of this period is J&oacute;n
			Sigur&eth;sson. His birthday, June 17, was chosen as Iceland&#39;s National Holiday to recognize his efforts towards Iceland&acute;s 
			independence. His portrait can be seen on ISK 500 banknotes.</p>
		
		<p>
			During World War II Iceland was occupied, first by the British army and then by the United States. At the same time the German Nazis
			occupied Denmark. Then, in 1944 Iceland, though still occupied by the US, declared the country an independent state, and Sveinn Bj&ouml;
			rnsson became the first President of the Republic of Iceland while Denmark was still occupied by the Nazis troops.
		</p>
		<p>
			After the war the United States expressed interest in remaining in the country, and after signing of the NATO Treaty Agreement in 1949,
			American troops stayed in the country, and remained throughout the Cold War, finally leaving on 30 September 2006.
		</p>
		<p>
			During the 1990&acute;s, Iceland experienced&nbsp; fast economic growth, particularly the banking sector, and&nbsp; became one of the
			richest countries in the world until three main banks in the country collapsed in 2008. Since then the Icelandic people have been coping
			with economic recession, bringing a higher cost of living and increased unemployment.
		</p>
		
		<h2>Culture and Society</h2>
		
		<p>Icelanders have a rather liberal outlook on life, similar to other Nordic countries. The level of gender equality is high and Icelandic
		people are known for being rather tolerant&nbsp;regarding sexuality and religion. For example, in 2009&nbsp;Icelanders elected&nbsp;the world
		&#39;s first openly gay head of government, J&oacute;hanna Sigur&eth;ard&oacute;ttir. Iceland also has one of the most extensive and progressive
		child protection law. Thus, physical or mental violence are punishable under&nbsp;the law, and there is no legal defence.
		</p>
		
		<p>
			Icelanders are really proud of their history, culture and Viking heritage. According to several studies, many Icelanders still believe in
			the existence of elves and supernatural creatures like trolls, fairies and goblins. Local and national festivals include the annual 
			National Day, celebrating the country&#39;s independence on the 17th of June, Sumardagurinn fyrsti which celebratesthe first day of summer,
			and Sj&oacute;mannadagurinn which is held every June to pay tribute to the country&#39;s seafarers.
		</p>
		
		<p>
			Even if Icelandic is a Nordic Germanic language, its writing system remains Latin only changing in the treatment of the verb. 
			There is around 320.000 people in the world speaking Icelandic. Most of them are living in Iceland but you can also find Icelandic 
			speakers in Denmark, Canada and the USA. The Icelandic has experimented little few changes since the former times and actually, 
			Icelanders say that they can still understand and read the original sagas.
		</p>
		<p>
			Iceland&#39;s most famous and important literary works are the Icelandic sagas, prose epics set in the Iceland&acute; s Age of Settlement.
			The oldest documents written in Icelandic are dated from around the 12th century. The most famous ones are the sagas of Snorri Sturluson. 
			One of the most famous modern authors is Halld&oacute;r Laxness, who received the Nobel Prize in Literature in 1955. Halld&oacute;r Laxness
			is read around the world, and his work has been translated into over 40 languages. Building on this heritage, Icelanders read a lot of
			books, and many have actually published one or two books on their own.
		</p>
		
		<p>
			True, Iceland is not a country in which the food is a principal asset. But, Iceland offers a wide variety of traditional cuisine, 
			such as sl&aacute;tur, svi&eth;, skyr and brenniv&iacute;n. However, a wide range of restaurants can be found in the country, 
			offering a variety of international food from Chinese noodles to American hamburgers.
		</p>
		
		<h2>Geology and Climate</h2>
		<p>Iceland, country of fire and ice, sits astride the Mid-Atlantic Ridge, and is a part of the world- encircling undersea mountain 
		system that is the locus of new crust formation.
		</p>
		
		<p>
			Iceland&nbsp;straddles the divergent boundary of the&nbsp;Eurasian and North American plates. Thus, if you are in Reykjav&iacute;k,
			welcome to North America and if you are spending some time in H&ouml;fn you are in Europe.
		</p>
		
		<p>
			About 11% of Iceland is covered by glaciers. By far the largest of the&nbsp;ice caps is Vatnaj&ouml;kull in Southeast Iceland with
			an&nbsp;size equal&nbsp;to all the glaciers on the European mainland put together.
		</p>
		<p>
			Iceland is one of the most active volcanic regions in the world. Iceland has 35 volcanoes that have erupted in the last 10,000 years.
			On average, a volcano erupts about every 5 years. The newest eruption was in Eyjafjallaj&ouml;kull, which started&nbsp;on 21 March 2010.
			The volcano is covered by the 6th biggest glacier in Iceland. There was no immediate danger from the eruption although it affected the
			lives and livestock of farmers in the adjacent area. Also, the eruption&nbsp;affected the flights around Europe, having more 
			expensive&nbsp;impact than the world has ever seen before. Despite this the volcanic eruption had little affect on the&nbsp;daily life
			of most Icelanders, and their lives&nbsp;continued as usual.
		</p>


	</div>
</div>

