<div ui-view="">
    <h2>The following places are recommended by international students:</h2>
	<p>
	    <strong>The Golden Circle:</strong> Tourist road in the South Iceland, covering around 300 km. The three main stops are
	    &THORN;ingvellir (national park with the ancient Icelandic Parliament and the drift between the North America and Eurasian Plates),
	    Gullfoss (&quot;golden falls&quot;, magnifient), and Geysir (in geothermally active Haukadalur Valley).
	</p>
	
	<p><strong>Blue Lagoon:</strong> A geothermic spa, located between Reykjav&iacute;k and Keflav&iacute;k. One of the most visited attractions in Iceland</p>
	
	<p>
	    <strong>Landmannalaugar:</strong> Popular tourist destination and hiking hub in Iceland&#39;s highlands. The area has numberous unusual geological features
	    and geothermal hot springs. The area is open from June to late September, at other times the road is closed.
	</p>
	
	<p>
	    <strong>&THORN;&oacute;rsm&ouml;rk:</strong> One of Iceland&#39;s gems, surrounded by rugged and majestic mountains, glaciers and glacial rivers.
	    Streams and rivers have to be&nbsp;crossed to get there so please make sure that you are&nbsp;with experienced people when travelling there.
	</p>
	
	<p>
	    <strong>Skaftafell:</strong> A national park founded in 1967. The rugged landscapes, mountains and glaciers, the flora and the fauna have magnetic influence
	    on visitors.
	</p>
	
	<p>
	    <strong>J&ouml;kuls&aacute;rl&oacute;n:</strong> Located near to Skaftafell National Park. J&ouml;kuls&aacute;rl&oacute;n is the largest glacial lagoon in
	    Iceland; icebergs breaking off from Vatnaj&ouml;kull float on the lagoon before disappearing out to&nbsp;sea.
	</p>
	
	<p><strong>Hallormsta&eth;arsk&oacute;gur:</strong> The largest wooded area&nbsp;in the country.</p>
	
	<p>
	    <strong>M&yacute;vatn:</strong> The country&#39;s fourth largest natural lake. The lake&acute;s surroundings&nbsp;are amazing, and the visitor should spend
	    at least few days there to take it all in.
	</p>
	
	<p>
	    <strong>Dettifoss:</strong> A waterfall in J&ouml;kuls&aacute;rglj&uacute;fur National Park. The river flowing over&nbsp;Dettifoss is from Vatnaj&ouml;kull
	    Glacier, giving the water a white/brownish colour. The falls are 100 m wide&nbsp;and drop&nbsp;44 m down into J&ouml;kuls&aacute;rglj&uacute;
	    fur Canyon. It is the largest waterfall in Europe in terms of volume discharge.
	</p>
	
	<p>
	    <strong>&Aacute;sbyrgi:</strong> A canyon in Kelduhverfi District west of the river J&ouml;kuls&aacute; &aacute; Fj&ouml;llum. The legend says that the horse
	    of &Oacute;&eth;inn, the chief god of Norse mythology, stepped down here leaving its giant hoof print (referring to&nbsp;the shape of the 
	    canyon).
	</p>
	
	<p><strong>L&aacute;trabjarg:</strong> The biggest seabird cliff in the North Atlantic&nbsp; and the westernmost&nbsp;point of Europe.</p>
	
	<p>
	    <strong>Hornstrandir:</strong> One of the biggest seabird cliffs in the North Atlantic. The nature reserve will leave you breathless. 
	    Please note that the trip is difficult during the summer but&nbsp;the area is totally uninhabited during the winter.
	</p>
	
	<p>
	    <strong>Sn&aelig;fellsnes Peninsula:</strong> The mystical Sn&aelig;fellsj&ouml;kull Glacier meets the sky at the tip of Sn&aelig;fellsnes Peninsula,
	    rising above other mountains. The glacier and the area round it offer opportunities for hiking and beautiful beaches.
	</p>

</div>