<div ui-view="">
    <p>
        When travelling in Iceland always make sure that you travel safe. Always take plenty of clothes with you;
        the sun can be shining when you head out but the weather can change rather rapidly in Iceland. 
        We recommend that you always check the weather forecast before starting your trip - 
        <a href="http://en.vedur.is/">Icelandic Met Office</a>
    </p>
    
    <p>
        If you are driving on your own in Iceland it is also recommended that you check the road conditions, especially
        if you are driving during the winter, and you are driving off the main roads - 
        <a href="http://vegagerdin.is/english/road-conditions-and-weather/">Road Conditions</a>
    </p>

</div>