<div ui-view="">
    	<h2>Useful links:</h2>
		
		<p><a href="http://www.safetravel.is/">Safetravel.is</a></p>
		
		<p><a href="http://www.vegagerdin.is/english/">Road Conditions</a></p>
		
		<p><a href="http://en.vedur.is/">Weather</a></p>
		
		<p><a href="http://www.sedlabanki.is/?PageID=183">Exchange rate</a></p>
		
		<p><a href="http://i.ja.is/" target="_blank">Iceland Travel Guide</a></p>
		
		<p><a href="http://www.saf.is/saf/en/">Icelandic Travel Industry Association</a></p>
		
		<p><a href="http://www.iceland.is/iceland-abroad/" target="_blank">Icelandic Embassies</a></p>
		
		<p><a href="http://www.kefairport.is/English/">International Airport</a></p>
		
		<p><a href="http://www.airiceland.is/">Air Iceland</a></p>
		
		<p><a href="http://www.icelandnaturally.com/">Iceland Naturally</a></p>
		
		<p><a href="http://www.visiticeland.com/">Visit Iceland.com</a></p>
		
		<p><a href="http://www.visitreykjavik.is/">Visit Reykjavik.is</a></p>
		
		<p><a href="http://www.west.is/home">Visit west of Iceland</a></p>
		
		<p><a href="http://www.westfjords.is">Westfjords.is</a></p>
		
		<p><a href="http://www.northiceland.is/">North Iceland.is</a></p>
		
		<p><a href="http://www.east.is/">East.is</a></p>
		
		<p><a href="http://www.south.is/">South.is</a></p>
		
		<p><a href="http://www.visitreykjanes.is/">Visit Reykjanes.is </a></p>

</div>