<div ui-view="">
    <h2>Phd</h2>
    <h2>Reykjavík University</h2>
    
    <p><a href="http://en.ru.is/studies/phd/">Reykjavík University</a></p>
    
    <ul>
        <li><a href="http://en.ru.is/rusb/phd/">School of Business</a></li>
    </ul>
    
    <ul>
        <li><a href="http://en.ru.is/scs/ph.d-studies/">School of Computer Science</a></li>
    </ul>
    
    <ul>
        <li><a href="http://en.ru.is/law/phd-studies/">School of Law</a></li>
    </ul>

    <h3>School of Business</h3>
    <ul>
        <li><a href="http://en.ru.is/sse/phd-program/">School of Science and Engineering</a></li>
    </ul>

</div>